[2016-03-07 01:01] barisbalic opened #5 "Mandrill Adapter"
Create a working adapter for sending basic emails through Mandrill.

[2016-03-07 01:01] barisbalic opened #6 "Amazon SES Adapter"
Write an adapter for sending basic emails through AWS SES.

[2016-03-07 01:02] barisbalic opened #7 "Postmark Adapter"
Implement an adapter for sending basic emails through Postmark.

[2016-03-07 01:24] barisbalic opened #8 "Phoenix integration"
Do whatever it takes to integrate swoosh with phoenix, such that it can pick up layouts, templates and anything necessary from views.

[2016-03-07 01:26] stevedomin opened #9 "SMTP adapter"
Look at using `gen_smtp`

[2016-03-07 01:35] barisbalic opened #10 "Clean README with examples"
Replace the README with something meaningful to users, include some basic examples in lieu of documentation.

[2016-03-08 00:13] stevedomin opened #12 "Module doc"
For all the modules, even if it's very basic. At least we'll have something to build on.

[2016-03-08 00:22] #8 closed, assigned to nobody

[2016-03-08 00:24] stevedomin opened #13 "Support attachments"
In all the adapters

[2016-03-08 00:50] stevedomin opened #14 "Better adapter tests"
The one we have currently are pretty shallow, we should especially the `prepare_body`

[2016-03-08 22:22] stevedomin opened #15 "Move from atom to module as key in config"
[code]

[2016-03-08 22:40] stevedomin opened #16 "DKIM for SMTP adapter"
Support DKIM in the SMTP adapter so that user can sign their emails before sending.

[2016-03-08 22:45] stevedomin opened #17 "Raise if config required by adapters is not set"
We should probably raise if stuff like an API key is not set.

[2016-03-16 21:13] #5 closed, assigned to barisbalic

[2016-03-16 21:38] barisbalic opened #20 "Deal with provider accounts in a sane manner"
We probably want to have integration tests and API keys available for running tests, the easiest way to do this is to set up a shared account somewhere, somehow, and then we can contact providers and ask for free accounts.

[2016-03-17 20:47] stevedomin opened #23 "[Mandrill] async should not be set on Swoosh.Email private map"
Private is reserved for libraries/frameworks extending Swoosh and the user should never have to tamper with it.

[2016-03-18 11:58] #15 closed, assigned to nobody

[2016-03-18 12:25] #9 closed, assigned to stevedomin

[2016-03-18 16:52] barisbalic opened #26 "18/03 Chat topics"
- Interface of `%Swoosh.Email`
  - Should `reply_to` also accept `{name, email}`
  - Should all methods that take users also accept `user, email` as well as tuples
  - Where do we put `provider options` in the struct
- Implementation of `%Swoosh.Email` functions, clever but confusing and make docs tricky
- Should we add a primitive `email address` validation?  i.e. contains one `@` and one `.` ?

[2016-03-18 20:32] #26 closed, assigned to nobody

[2016-03-18 20:38] stevedomin opened #27 "Extract Phoenix.Swoosh to a separate package"
phoenix_swoosh?

[2016-03-18 21:00] stevedomin opened #28 "Basic integration testing"
It would be good to have some level of integration testing for all the adapters.

[2016-03-18 23:21] #14 closed, assigned to barisbalic

[2016-03-19 00:55] #23 closed, assigned to nobody

[2016-03-19 00:59] #17 closed, assigned to stevedomin

[2016-03-19 01:23] #27 closed, assigned to nobody

[2016-03-20 15:32] #12 closed, assigned to nobody

[2016-03-20 15:32] #7 closed, assigned to nobody

[2016-03-20 15:32] #10 closed, assigned to barisbalic

[2016-03-21 23:11] lau opened #46 "optionally passing config as parameter when sending email"
Example: Mailgun. It requires you to use the domain you are sending from in API calls. Some sites use more than one domain.

If you have an app that uses several domains, it would be nice if you could pass the domain as part of the parameters to the sending function.

[2016-03-22 01:26] barisbalic commented on #46
Hi @lau, thanks for such early feedback!  Is there any reason you would not consider having a mailer for each domain?

[2016-03-22 11:27] stevedomin commented on #46
@barisbalic for reference he's the discussion I had with @lau on twitter https://twitter.com/laut/status/712028165523283968

@lau I had another idea, would providing a `Mailer.deliver/2` function help? 1st argument would be the email, and the second would be a keyword list that will be merged with the config passed to the mailer.

[code]

My thinking is: the more we can avoid coupling `Swoosh.Emai

[2016-03-22 11:39] barisbalic commented on #46
@stevedomin do what?  Have multiple mailers?

Even though the domain is integral to the request, it could be argued that it is a `provider_option`.  As such you could set it by piping one mail through several functions, each one adding a domain and then sending?

[2016-03-24 05:40] trinode opened #50 "Runtime settings"
It seems that at least for the smtp adapter, the env.ex is read once during compilation and those values are compiled in.

Problem being that I'm using System.get_env("SMTP_USERNAME") for example, these values are _not_ available at compile time, but are during runtime (Docker standard behaviour).

This is fine for things like Postgrex and it's database_url setting, or redis configuration, and eve

[2016-03-24 10:13] stevedomin commented on #50
We should definitely support settings these options at runtime, this will be addressed in the upcoming version.

[2016-03-24 10:15] stevedomin commented on #46
Not sure I follow you @barisbalic, what do you mean by "each one adding a domain"?

[2016-03-24 10:20] barisbalic commented on #46
I meant an alternative to passing all config through, is to make the domain a `provider_option`, such that the following would be possible:

[code]

However, given #50 has arisen, I'm pretty certain being able to pass config through as you suggested, makes more sense.

[2016-03-24 16:20] lau commented on #46
@barisbalic

I would prefer to nok make `n` number of mailers, if I can just pass in an option using 1 mailer.

That `provider_option` looks good.

[2016-03-24 16:25] lau commented on #50
How about implementing something like what e.g. Phoenix and ex_aws has: You can use for instance: `{:system, "S3_HOST"}` in the config file instead of just a string.

[2016-03-24 16:52] barisbalic commented on #46
It's okay, it is slightly different from the intended purpose of `provider_options` though, it is supposed to be reserved for 'additional' provider-specific functionality.  The `domain` is explicitly required, so it feels more like config.  Between that and #50 I think @stevedomin is right about letting people override config with a new `Mailer.deliver/2` function.

[2016-03-24 23:39] foxnewsnetwork opened #51 "Consider loosening your Poison requirements"
### Proposal
Currently, in `mix.exs`, you have:
[code]
Consider loosening the requirement to also allow version 1.5.x series
[code]

### Why?
After a casual search for Poison in the swoosh codebase:

https://github.com/swoosh/swoosh/search?utf8=%E2%9C%93&q=Poison

I noticed that swoosh uses neither the `defimpl` feature of the `1.5.x` poison nor the `@derive Poison.Encoder` of the `2.x` series to

[2016-03-24 23:58] barisbalic commented on #51
Hey @foxnewsnetwork thank you ever so much for such a detailed piece of feedback, it is greatly appreciated.  Something I have been wondering about was whether we should actually have `Poison` as a dependancy at all, or instead allow users to specify the JSON library they would prefer to use.

One way or another we'll definitely loosen the requirement, I'll leave this open until @stevedomin drops

[2016-03-25 13:32] stevedomin commented on #51
Thanks for the report @foxnewsnetwork, we can definitely lower the requirement

[2016-03-25 13:53] stevedomin commented on #50
@lau yes, that sounds like a great idea, I need to look at the actual implementation details

[2016-03-25 13:54] stevedomin commented on #51
Fixed in master (https://github.com/swoosh/swoosh/commit/76283910d85714866bd0c776e432284cc1ec5e36)

Thanks again for reporting this issue, I think a lot of people will probably run into it!

[2016-03-25 13:54] #51 closed

[2016-03-25 16:13] lau commented on #46
@barisbalic I would also prefer this.

[2016-03-25 16:33] stevedomin commented on #46
I started tackling this one, I'm hoping to get it finished sometime this
w-e.

On Friday, 25 March 2016, Lau Taarnskov <notifications@github.com> wrote:

[2016-03-25 23:49] barisbalic commented on #51
No specific forts on dropping the dep altogether?

[2016-03-26 14:15] bismark opened #52 "Adapter return value"
The Adapter behaviour's function signature allows of a successful return type as `:ok | {:ok, term}` with no  indication of why one or the other. This makes pattern matching a bit cumbersome without knowing the internals of the adapter.

Is there a reason why both are supported? Can this be documented more clearly?

[2016-03-26 15:33] barisbalic commented on #52
Hey @bismark, originally we felt there was probably no need to return anything on a successful "send", but after working with the services, it looks like most services will return a unique ID for the email, so we'll probably refactor success responses all to be in the form of `{:atom, term}`, thanks for making us think about it, I'll leave this open until the refactoring is done.

[2016-03-27 00:23] stevedomin commented on #51
My feeling is that since the result of encoding/decoding isn't exposed in any way to the end user of the library it doesn't really matter which one we use for now.

[2016-03-29 17:19] stevedomin commented on #52
@bismark: fyi @barisbalic put a PR in this week-end that addresses this behaviour => https://github.com/swoosh/swoosh/pull/53

[2016-03-29 17:46] #50 closed

[2016-03-29 17:49] stevedomin commented on #50
@trinode @lau this has landed in master and will be part of the 0.2 release

[2016-03-29 23:02] #46 closed

[2016-03-29 23:10] barisbalic commented on #52
Hey @bismark, all adapters should now have a uniform return value.

[2016-03-29 23:10] #52 closed

[2016-03-29 23:13] stevedomin commented on #52
(In the upcoming 0.2 release)

[2016-03-30 16:49] arunvelsriram commented on #13
+1

[2016-03-31 19:22] barisbalic opened #56 "Revisit error cases for adapters"
I noticed while doing integration testing that our adapters assume a lot about the response from the provider service.  Specifically if the mailgun domain is invalid or can't be found, the provider returns a 404 with a standard HTML page, which breaks horribly when we try to `Poison.decode!/1` it.

I suspect other providers and errors are better catered for, but we should check, and decide how to

[2016-03-31 23:13] stevedomin commented on #52
0.2 is available on Hex: https://hex.pm/packages/swoosh

[2016-03-31 23:14] stevedomin commented on #50
@trinode 0.2 is available on Hex: https://hex.pm/packages/swoosh

[2016-04-04 11:02] michalmuskala opened #60 "Swoosh for text messages"
I really like how swoosh is structured and I'd like to hear your opinion on possibility of extending the use of the library.

I'd like to propose we reuse the main ideas behind swoosh (adapters, local mailbox) and apply them to text messages - many things could be reused. However there are several approaches we could make:
- add text message handling directly to swoosh
- make a separate project th

[2016-04-04 11:10] michalmuskala opened #61 "Add json endpoint for mailbox preview"
When doing end-to-end testing with frontend of features like account registration that involve unique tokens and things like that, it would be useful to have a json version of the mailbox that the tests could query.

I did recently something similar in one of our projects. If you find this idea worth considering I could work on it.

[2016-04-04 11:26] barisbalic commented on #60
I wondered the same about sms/mms/push notifications before.  I think it's a good idea, but it's definitely very separate to email.  I think something like `swoosh-sms` could get away without any duplication, but the `%Swoosh.Email{}` interface would be a bit odd, aside from that an adapter would do the job.

Definitely worth more thought, I'm fairly sure @stevedomin will have considered some of t

[2016-04-04 14:01] stevedomin commented on #61
That sounds like a fantastic idea!

On a somewhat related note, I'm also planning on making `Swoosh.TestAdapter` work better with integration testing.

[2016-04-04 21:06] stevedomin commented on #60
@michalmuskala sorry it took so long for me to reply to this one but I wanted to take the time to have a good proposal

I thought about somehow supporting text messages and push notification in swoosh, as it's something I need in my project but I couldn't really decide where it should live.

The cleaner way seems to be `swoosh` as a core library and then `swoosh-email`, `swoosh-message`, `swoosh-p

[2016-04-08 23:58] dtrce opened #63 "mailgun adapter constructing bad URL"
maingun's @base_url var is missing / at the end hence constructing a url like this: https://api.mailgun.net/v3domain.com/messages.

I was able to work around this by adding / in front of my domain_name config.

[2016-04-10 18:44] stevedomin commented on #63
Thanks for reporting this. The docs are wrong, it's expected that domain would have a `/`.

But this is a really crappy experience so I'm going to change that :)

[2016-04-10 18:45] barisbalic commented on #63
This is mentioned in one of the other issues I created recently
On 10 Apr 2016 7:44 pm, "Steve Domin" <notifications@github.com> wrote:

[2016-04-10 18:48] stevedomin commented on #63
@dtrce fixed in master (75d9a3bfa64ff2db43f13755ab447669e371c4db)

@barisbalic which one?

[2016-04-10 18:48] #63 closed

[2016-04-10 19:06] barisbalic commented on #63
Sorry, sent the email without finishing the reply, it was mentioned in #56 but now that you fixed it, it's 👍

[2016-04-13 05:34] erez-rabih opened #64 "Can't put API key in environment variable"
Hi
I'm trying to put the Sendgrid API key in an environment variable rather than hardcoded inside config.exs.

This is what my config looks like:
[code]

It looks like the credentials are loaded fine on development with `mix run --no-halt` but when I run on production mode `MIX_ENV=prod` the environment variable is not being loaded correctly although I see them on `Application.get_all_env(:my_app)

[2016-04-13 06:13] stevedomin commented on #64
The preferred way of using environment variable for config is to use the a `{:system, "ENV_VAR"}` tuple, otherwise the environment variable will be loaded at compile time rather than runtime.

Your example would look like this:

[code]

This is documented in [Swoosh.Mailer](https://hexdocs.pm/swoosh/Swoosh.Mailer.html) but should probably be shown elsewhere.

[2016-04-13 06:19] erez-rabih commented on #64
@stevedomin Thanks for the fast response.

I saw the documentation in Swoosh.Mailer and fixed the issue.

I'm kind of new to Elixir - is {:system, "ENV_VAR"} a standard way to load environment variables to config.exs in elixir or is it something specific to swoosh?

[2016-04-13 06:45] stevedomin commented on #64
It's not standard but it's not specific to Swoosh either, other
Elixir projects like Phoenix have adopted it

On Wednesday, 13 April 2016, erez <notifications@github.com> wrote:

[2016-04-13 08:49] stevedomin commented on #64
@erez-rabih closing this one, feel free to get in touch if you run into other issues!

[2016-04-13 08:49] #64 closed

[2016-04-13 08:50] stevedomin opened #65 "Allow to set the name in `From` header with the Mailgun adapter"
See https://github.com/swoosh/swoosh/commit/d92c73293c6d87e1e23a50938584392f0c427106#commitcomment-17055719 for background.

[2016-04-13 20:18] stevedomin commented on #65
Fixed in https://github.com/swoosh/swoosh/commit/b5eaf12fd9004337e01cf1255c8f3d3ac465e6a6

@lau fyi

[2016-04-13 20:18] #65 closed

[2016-04-15 06:52] hubertlepicki commented on #28
@stevedomin I'd gladly take on this. Currently I'm writing integration tests using Hound, and I can't really tell if the message was sent or now.

I think we'd need something similar to ActionMailer in Rails, where the test adapter would store all of the send emails in memory, temporarily, so we can fetch those and check content etc.

In addition to that we'd need some sort of cleaning mechanism,

[2016-04-15 12:40] stevedomin opened #66 "Add support for integration testing"
The current TestAdapter breaks with integration testing  using hound or wallaby.

The best option seem to be implementing some kind of ownership-based mechanism similar to what Ecto 2 does (https://github.com/elixir-lang/ecto/issues/1237)

@barisbalic @hubertlepicki @lau I would love to get your thoughts on that

[2016-04-15 12:42] stevedomin commented on #28
@hubertlepicki this is actually for having some kind of integration testing for Swoosh itself (PR in progress => https://github.com/swoosh/swoosh/pull/57).

I do want to support what you're suggesting though (ran into this issue myself), I've opened #66 so we can discuss about it. Definitely open to you tackling it!

[2016-04-17 09:55] victorsolis commented on #66
👍

Prior to this getting implemented, is there another way to test asynchronous deliveries, like from within a `Task`?

[2016-04-17 11:04] stevedomin commented on #66
Depending on how we decide to implement this, we might that tackle both use case in one go. I'll keep your comment in mind when we work on it.

[2016-04-20 06:47] brentonannan commented on #63
Could we get a release on hex with this fix in it, please?

[2016-04-20 09:12] stevedomin commented on #63
Waiting on https://github.com/swoosh/swoosh/pull/71 and I'll push a release out.

[2016-04-20 09:14] brentonannan commented on #63
Tops, thanks.

[2016-04-20 17:35] stevedomin commented on #63
@brentonannan v0.3.0 is out!

[2016-04-20 23:47] brentonannan commented on #63
Awesome, thanks @stevedomin.

[2016-05-10 23:45] monicao opened #76 "Mailgun Adapter: ArgumentError :erlang.bit_size(nil)"
Using `swoosh: 0.3.0` and `phoenix_swoosh: 0.1.1`.

I am pretty sure this error is being raised because there is something wrong with my config. It is hard to figure out exactly what is missing from the error message.

[code]

Quick link to the line in question: https://github.com/swoosh/swoosh/blob/v0.3.0/lib/swoosh/adapters/mailgun.ex#L33

Here is the adapter configuration.

[code]

And the raw

[2016-05-11 09:59] barisbalic commented on #76
Hi @monicao thanks for raising this issue.  From what you have said, that sounds correct, although from your example I can't see what's wrong and I can reproduce it.  Would you be up for recreating the issue in a public repo?

[2016-05-11 16:00] monicao commented on #76
Sure, I can give that a shot tomorrow.

[2016-05-11 16:15] barisbalic commented on #76
That is hugely appreciated @monicao

[2016-05-12 18:34] monicao commented on #76
I realized that in order to reproduce the issue I would have to set up the deployment environment (digital ocean droplet, install erlang, etc.). That will be very time consuming and there is no guarantee that it will work.

The email is being sent successfully in development, it's just not sending in production.

I'd be happy to do a quick screen sharing session to debug this on the server I alrea

[2016-05-13 18:40] justinbkay commented on #76
I'm seeing this same error, in dev and production when trying to use the mailgun adapter on phoenix 1.1.3.

`
** (exit) an exception was raised:
    ** (ArgumentError) argument error
        :erlang.bit_size(nil)
        (swoosh) lib/swoosh/adapters/mailgun.ex:33: Swoosh.Adapters.Mailgun.deliver/2
        (nwrecc_org) web/controllers/about_controller.ex:43: NwreccOrg.AboutController.send_minisite_

[2016-05-13 19:46] justinbkay opened #77 "Mailgun reply_to not working"
I've configured email for use with mailgun.  The email is sending correctly through the mailgun api, but the reply_to isn't being added.  I switched to this library specifically for this feature, so it is important for me that this work.  I'll be happy to help troubleshoot/fix this issue.

[code]

[2016-05-13 20:22] stevedomin commented on #77
@justinbkay Hi! Thanks for the report, I'm looking into it now

[2016-05-13 20:33] justinbkay commented on #77
If I use the mailbox preview, the reply_to is shown, but whatever is being
sent off to mailgun must not be quite right.

On Fri, May 13, 2016 at 2:22 PM, Steve Domin <notifications@github.com>
wrote:

--
Sites:
http://jbkayconstruction.com
https://twitter.com/justinbkay
http://justinbkay.tumblr.com

It always takes longer than you expect, even when you take into account
Hofstadter’s Law.
- Hofstad

[2016-05-13 21:19] stevedomin commented on #77
@justinbkay can you tell me which version of Swoosh you are using? I can't reproduce this issue with master.

Also do you have the raw email with headers that you received by any chance? Should be quite easy to get depending on which email client you are using.

I really want to find out what's happening!

[2016-05-13 21:52] stevedomin commented on #76
Hi @monicao, I've done some digging on that issue and it looks like it's caused by the `domain` config being `nil`.

I'm trying to build a release now to check if I can reproduce the bug in that case.

[2016-05-13 22:04] justinbkay commented on #77
I'm using the most current.  I think it is working, the reply-to just
doesn't show up in the mailgun logs at all.  Sorry to have bothered you
with this.

On Fri, May 13, 2016 at 3:19 PM, Steve Domin <notifications@github.com>
wrote:

--
Sites:
http://jbkayconstruction.com
https://twitter.com/justinbkay
http://justinbkay.tumblr.com

It always takes longer than you expect, even when you take into ac

[2016-05-13 22:10] justinbkay commented on #76
I saw that error as well, it was because of how my config was being done.
Ended up just putting the key/domain in the same spot as my production
database info.  Was trying to load via App.get_env

On Fri, May 13, 2016 at 3:52 PM, Steve Domin <notifications@github.com>
wrote:

--
Sites:
http://jbkayconstruction.com
https://twitter.com/justinbkay
http://justinbkay.tumblr.com

It always takes longer

[2016-05-13 22:40] stevedomin commented on #77
Oh I see. Yes, it's not showing indeed, it's a shame.

No worries at all, if you run into any other issue, please let us know.

[2016-05-13 22:40] #77 closed

[2016-05-13 22:43] stevedomin commented on #76
You can load config via environment variable by using a `{:system, "ENV_VAR"}` tuple. It's described in the `Swoosh.Mailer` docs (https://hexdocs.pm/swoosh/Swoosh.Mailer.html).

I'm sorry this is hard to find, you need to make it clearer that this is possible.

[2016-05-14 00:08] barisbalic commented on #76
Haha, I think @stevedomin meant. "we" need to make it clearer, not you!

[2016-05-14 08:14] stevedomin commented on #76
Yep, definitely, sorry :)

[2016-05-14 15:27] stevedomin commented on #76
@monicao I've tried extensively to reproduce that issue using releases but I haven't managed to.

I've put together an example application here: https://github.com/swoosh/phoenix_swoosh_example

Can you try using environment variables like it's done in this application and let us know if you are still seeing the same error. That would be very helpful, thanks!

Also, it would be great to see your c

[2016-05-14 17:20] #28 closed

[2016-05-14 17:20] stevedomin commented on #16
Thanks so much @nicksanders for this one!

[2016-05-14 17:20] #16 closed

[2016-05-14 17:21] stevedomin commented on #20
I've done that, it's not perfect but will be enough for now. The credentials are in Travis, happy to share them with you as well.

Only one missing is Mandrill.

[2016-05-14 17:21] #20 closed

[2016-05-14 18:36] monicao commented on #76
@stevedomin I am working on closed source app, so unfortunately I can't share the code directly.

I will try using environment variables to see if that changes things.

[2016-05-15 06:16] monicao commented on #76
I ended up forking swoosh and inspecting the `config` variable that was passed into `deliver`.

The issue was that both the `:domain` and the `:api_key` were missing from config. It would be helpful if the adapter raised an exception if either of these two config values are missing.

I could do a quick PR for this if you think it's worth it.

[2016-05-15 08:16] stevedomin commented on #76
Out of interest, do you know why they were missing?

[2016-05-16 01:43] monicao commented on #76
I am using edeliver to deploy and I added the mailgun settings in my `sys.config` that was copied over using the [steps described here](https://github.com/boldpoker/edeliver/wiki/Use-per-host-configuration). It turns out I also needed to add the entries in my `production.secret.exs` file [as described here](https://github.com/boldpoker/edeliver/wiki/Embed-Secrets---Credentials-into-the-Release).

[2016-05-24 21:39] stevedomin commented on #76
@monicao since this is resolved I'm going to close that issue, if you feel like there's more to say please feel free to reopen.

[2016-05-24 21:39] #76 closed

[2016-05-31 13:08] geofflane opened #84 "Support Conform Style Configuration"
The macro reads the configuration and sets it to the module attribute `@config`. Swoosh supports transforming environment variables, but that's only one way of deploying.

[bitwalker/conform](https://github.com/bitwalker/conform) is another model that overwrites the sys.config based on a configuration file deployed to the server. If the config was read at runtime, instead of compile time then the

[2016-06-12 14:42] stevedomin commented on #84
Hi @geofflane, sorry for the slow reply on this one.

I'm not really a fan of we deal with configuration at the moment, I'm going to rethink this in the next few days and I'll make sure we support conform.

If you have any ideas, please feel free to share.

[2016-06-15 12:38] geofflane commented on #84
@stevedomin I don't have a lot of ideas necessarily. I'm not a huge fan of Mix.Config because it generates a static config at compile time and each individual library has to support things like `:system` if they want to have dynamic runtime properties. And each library has to be written so that is supports a model like Conform. That's a significant limitation of the Mix.Config design IMHO. I think

[2016-06-24 10:48] JustMikey opened #89 "Support for Erlang 19"
Swoosh depends on the `gen_smtp` package version `0.10.0` which uses, apparently, now old spec format and thus I can't compile it using elixir 1.3.0. I am wondering if we can bump the `gen_smtp` version to `0.11.0`  and release a new minor version, 3.0.1?

[2016-06-24 13:35] stevedomin commented on #89
Hi @JustMikey, I will take care of that today.

[2016-06-24 14:18] JustMikey commented on #89
@stevedomin Thank you.

[2016-06-24 16:26] nicksanders commented on #89
@JustMikey you can add the line below to your mix file as temporary fix

{:gen_smtp, "~> 0.11.0", override: true},

[2016-06-24 16:27] JustMikey commented on #89
@nicksanders Yeah I know, thanks.

[2016-06-24 16:29] stevedomin commented on #89
Support for Erlang 19.0 has landed in master

[2016-06-24 16:32] JustMikey commented on #89
Awesome!

[2016-06-24 16:32] #89 closed

[2016-06-25 15:22] stevedomin opened #90 "gen_smtp should be an optional dependency"
We should update the docs and README accordingly.

[2016-07-06 21:48] dighjd12 opened #93 "Mailgun including custom variables"
Hello all!

I'm using Swoosh right now with the Mailgun adapter. One of the features in Mailgun is including custom variables in the params of the post request, and the variables will be later included in mailgun event webhooks, and allow us to identify mails using our variables.

More details: https://documentation.mailgun.com/user_manual.html#attaching-data-to-messages

From looking at prepare_b

[2016-07-06 22:02] stevedomin commented on #93
hi @dighjd12

This is definitely something we should support. We can stick these in the `provider_options` field on `%Swoosh.Email{}`.

Let us know if you need any help with the code.

[2016-07-06 22:15] dighjd12 commented on #93
@stevedomin great! I'll go ahead and work on it 👍

[2016-07-19 02:45] taniadaniela opened #95 "Not able to send email"
Hello, I'm following the docs to set a mailer using SMTP adapter but I'm getting the following error when executing from iex:
[code]
Settings implemented:
config/config.exs
[code]
lib/webapp/mailer.ex
[code]

Using:
:swoosh, "~> 0.4.0"
gen_smtp: 0.11.0
phoenix, 1.1.6
Elixir (1.3.1)
Ideas please?

[2016-07-19 08:26] princemaple commented on #93
:tada: #94

[2016-07-20 10:11] stevedomin commented on #95
Hi @taniadaniela

I haven't deeply investigated that yet but I think you need to give a valid PEM key based on what I can see here: https://github.com/Vagabond/gen_smtp/blob/master/src/mimemail.erl#L1027

If it can't decode the key because it's invalid you will get this match error.

[2016-07-20 17:00] #95 closed

[2016-07-25 12:59] sobolevn opened #96 "Can't preview emails in `Swoosh.Adapters.Local`"
Here's my setup:

`config.exs`:

[code]

`router.ex`:

[code]

`lib/mailer.ex`:

[code]

Here's what it looks like:
<img width="1020" alt="2016-07-25 15 51 23" src="https://cloud.githubusercontent.com/assets/4660275/17102027/3bac8366-5280-11e6-9183-bfe62eecdc9a.png">

When sending an email via `ElixirLangMoscow.Mailer.deliver/2` it returns something like: `{:ok, %{id: "3d96e237f56230a27ba995368864

[2016-07-25 13:34] stevedomin commented on #96
hi @sobolevn, do you not see any emails if you reload the page?

[2016-07-25 13:34] #93 closed

[2016-07-25 13:49] sobolevn commented on #96
No, still no result for me.

[2016-07-25 13:53] stevedomin commented on #96
That is really strange. What's the result of running this command in your IEx console:

`Swoosh.Adapters.Local.Storage.Memory.all()`

[2016-07-25 13:54] sobolevn commented on #96
Output:

[code]

[2016-07-25 13:58] sobolevn commented on #96
Hmm, deleting all the stuff inside `_build/` and rebuilding solved the issue:
<img width="1102" alt="2016-07-25 16 56 51" src="https://cloud.githubusercontent.com/assets/4660275/17103829/ea5e1458-5288-11e6-9822-15a4c9bf7854.png">

Thanks for the quick help.

[2016-07-25 13:58] #96 closed

[2016-07-25 14:00] stevedomin commented on #96
Really weird, glad to hear it's working now.

[2016-07-28 03:32] princemaple commented on #90
:+1:

[2016-08-13 22:01] axelclark commented on #96
I'm running into a similar problem.  I tried deleting the stuff within `_build` but that didn't fix it.  Here is my setup:

`config/dev.exs`
[code]

`lib/email_swoosh/mailer.ex`
[code]

I'm starting the mailbox server like this:
[code]

Then I'm sending a test email through iex like this:
[code]

When I visit `http://localhost:4000/`, I get the message inbox, but it says "Empty mailbox..."  I trie

[2016-08-15 10:02] sobolevn opened #101 "Warning: "crypto:rand_bytes/1 is deprecated and will be removed in a future release;""
When compiling:

[2016-08-15 10:14] sobolevn commented on #101
PR for this: https://github.com/swoosh/swoosh/pull/102

[2016-08-15 12:03] #101 closed

[2016-08-22 04:04] princemaple opened #103 "Support sparkpost"
https://developers.sparkpost.com/

I'll probably send a PR when I get some time.

[2016-08-22 10:19] stevedomin commented on #96
@axelclark apologies, only saw this now. Is it still an issue?

[2016-08-23 17:56] #90 closed

[2016-09-20 21:21] cjhowe commented on #13
It would be nice if this supported Content-ID for embedding images directly into HTML emails.

[2016-09-26 10:55] stevedomin commented on #13
@cjhowe definitely something it should do!

[2016-10-14 15:54] jlevycpa opened #107 "Highlight differences between other similar libraries"
Hello,

It looks like this library was started after Bamboo was already established. It would be helpful to have a section in the README addressing how this library differs from Bamboo, and why it was necessary to create a separate project. For example, is there a fundamental design objective or approach which differs between the projects? This will make it easier for consuming developers to decid

[2016-10-20 17:56] tlvenn commented on #61
Any update on this ?

[2016-10-21 13:06] stevedomin commented on #61
@tlvenn definitely not a priority for now but would gladly accept any PR for it :)

[2016-11-23 11:10] philipgiuliani commented on #13
+1, would be awesome! :)

[2016-11-23 11:47] stevedomin commented on #13
@philipgiuliani at the moment not easily I'm afraid :( I need attachments in one of my personal projects so hopefully this will force me to write it for swoosh soon :)

[2016-11-24 21:15] nathany opened #110 "Provide a way to test for error responses"
Currently the test adapter always returns `:ok`:
https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/test.ex

It would be nice if there were some way to write mailer tests for the fail case to ensure that errors are handled well.

[2016-11-24 21:41] nathany commented on #110
I can write my own adapter for now.

[2016-11-24 21:55] nathany commented on #110
Something like this does the trick

[code]

[2016-11-24 22:11] stevedomin commented on #110
That's a great suggestion @nathany. Do you think using the `to` field is the best way to go about it?

[2016-11-24 22:17] nathany commented on #110
`To` was the easiest to test for me, because the email address can be sent in from higher levels

[code]
or
[code]

I'm not totally sure about the error reason though.

Do you think it makes sense to change the test adapter and document the special email address, or just document how to set up a custom adapter?

[2016-11-24 22:20] stevedomin commented on #110
I'd definitely like that to be part of the test adapter and document the special email address, I think it would be great to have that built-in.

[2016-11-24 22:25] nathany commented on #110
I didn't actually end up using the error reason, so this could be simplified to just have a special email address.

[2016-12-05 23:37] monicao commented on #66
A possible workaround is to use the `Swoosh.Adapters.Local` and get Hound to navigate to `/dev/mailbox`.

I set up a separate mix environment called 'acceptance' that uses `Swoosh.Adapters.Local`. The test environment still uses `Swoosh.Adapters.Test`.

Code snippets: https://gist.github.com/monicao/0e31545ea3d37cab342504bd8eeb0a87

[2016-12-06 11:17] stevedomin commented on #66
Thanks for sharing this @monicao

[2016-12-14 11:14] princemaple commented on #107
@stevedomin care to put in a few words?

I personally find them very, very similar. I discovered Bamboo first but switched to Swoosh for some reason that I can't recall anymore...

[2016-12-21 18:55] blset opened #112 "cannot send attachment"
Hello

nothing in the docs for attachments, but the field exist in the email record
cannot find a way to specify attachment file

thanks

[2017-01-28 09:10] manukall commented on #66
I'm using a custom adapter for this, following a pattern that I just published a [blog post about](https://pryin.io/blog/mocks-and-side-effects/):

[code]

[2017-02-11 17:01] FrankelJb opened #114 "Dependency on Cowboy 1.0.0"
Hi,
I was playing around with Coherence and it has a dependency on Swoosh. However, the dependencies are not resolved because swoosh has a strict dependence on Cowboy 1.0.0.

[code]

Perhaps it should be ~> 1.0 ?

[2017-02-13 05:05] exterm commented on #114
I have a similar problem an also wonder why the version requirement for cowboy is so very specific.

[2017-02-13 19:46] stevedomin commented on #114
It doesn't need to be that specific, fixing now.

[2017-02-13 20:13] stevedomin commented on #112
@blset I realise you are probably not expecting an answer after so long but I still give one.

The `attachments` field was added to support them in the future but that feature hasn't been implemented yet.

[2017-02-13 20:13] #112 closed

[2017-02-13 20:14] stevedomin commented on #114
0.6 on its way

[2017-02-13 20:22] #114 closed

[2017-02-28 16:48] Grafikart opened #116 "Mailgun Adapter not sending parameters, lock hackney to 1.6.5"
Mailgun Adapter will throw an error when sending an email telling `'from' parameter is missing`, but I send this params

[code]

## Cause

hackney is used within the [Mailgun Adapter](https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/mailgun.ex#L50) and seems to duplicate the content-type header as described in this issue https://github.com/benoitc/hackney/issues/388. Mailgun won't

[2017-03-01 15:15] benoitc commented on #116
please test latest master of hackney  and let me know. It should solve your issue

[2017-03-12 10:16] #103 closed

[2017-03-12 10:30] princemaple commented on #103
Yay 7 months later finally found time.

[2017-03-14 08:26] stevedomin opened #118 "Add integration tests for SparkPost adapter"
I haven't checked if they have a free offering but if they do that would be a nice thing to do.

[2017-03-14 21:30] princemaple commented on #118
Yes they do, an excellent one as well. 100k per month.

[2017-04-21 12:16] stevedomin opened #122 "Support inline attachments"
We need to had a field to the `Attachment` to set the disposition to either `inline` or `attachment`. We will probably need another `content id` field as well.

It is supported by some of the providers via their web API. (see `attachments` section of https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html for instance).

[2017-04-21 12:27] stevedomin commented on #107
The train has probably left the station already on this one, but I still want to provide a response before closing it.

@jlevycpa The design of the two libraries is indeed very similar but has roots in the Elixir ecosystem more than anything (adapters from Ecto, etc.). I started Swoosh, and then realised Bamboo existed so I started contributing to it. Because I had already started working on my ow

[2017-04-21 12:27] #107 closed

[2017-04-21 13:08] princemaple opened #124 "Mailgun 400+ error response has empty body"
i.e. not JSON-parsable

[code]
causes an Poison error

[2017-04-21 13:12] stevedomin commented on #124
Is that related to https://github.com/swoosh/swoosh/issues/56 in any way?

[2017-04-21 13:24] princemaple commented on #124
Yes. Should we close this in favor of #56 or open multiple issues with every single problem addressed?

[2017-04-21 13:28] stevedomin commented on #124
Let's keep these two open for now.

[2017-04-24 08:33] princemaple commented on #13
https://github.com/swoosh/swoosh/pull/119
https://github.com/swoosh/swoosh/pull/121
https://github.com/swoosh/swoosh/pull/123
https://github.com/swoosh/swoosh/pull/125
https://github.com/swoosh/swoosh/pull/126

[2017-04-24 08:53] stevedomin commented on #13
This has now landed in master thanks to the great work of @princemaple!

[2017-04-24 08:53] #13 closed

[2017-04-24 12:38] princemaple commented on #122
for reference #13

[2017-05-09 17:13] alg commented on #96
@axelclark You start your server with `mix`, then start another app when going into IEX session. In order for this to work you either need to connect to a running app, or to start it with `iex -S mix swoosh.mailbox.server` instead of pure `mix ...`. It will give you the console and start the app at the same time.

[2017-05-19 03:25] doughsay opened #128 "Module Swoosh.Adapters.SMTP is not available"
I'm having an odd problem:

[code]

But other adapters are present:

[code]

Am I doing something really silly here?

[2017-05-19 10:23] stevedomin commented on #128
@doughsay sorry that you are running into problem with the library!

Did you add the `gen_smtp` dependency as stated in the installation docs?https://github.com/swoosh/swoosh#installation

The SMTP adapter is conditionally compile only if the `gen_smtp_client` module is loaded, as you can see here: https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/smtp.ex#L1.

Hope that will solve y

[2017-05-19 14:59] doughsay commented on #128
Thanks!  Sorry about not reading the instructions... I had already installed swoosh months ago, and I'm just now switching adapters; forgot to re-check the installation instructions.

[2017-05-19 14:59] #128 closed

[2017-05-19 15:02] doughsay opened #129 "Can't customize SMTP port used by SMTP Adapter"
For local development purposes I'm trying to consolidate all email delivery to a locally running [Mailhog](https://github.com/mailhog/MailHog) instance.  By default it runs its SMTP server on port 1025.  The Swoosh SMTP adapter doesn't seem to be able to customize the port used and always assumes 25.

I looked into how the config is passed to gen_smtp, and it LOOKS like all I need to do is add `po

[2017-05-20 11:28] princemaple commented on #129
That's what I thought, too. Do you have any error logs?

[2017-05-21 21:54] stevedomin commented on #128
No worries at all @doughsay!

[2017-05-27 10:15] valentinewallace commented on #129
Adding the port to my config worked for me, I'm able to get emails.

Here's my config:
`config :coherence, YourApp.Coherence.Mailer,
  adapter: Swoosh.Adapters.SMTP,
  relay: "smtp.gmail.com",
  port: 587,
  username: [your-username],
  password: [your-password],
  tls: :always,
  auth: :always
`

[2017-05-27 11:27] stevedomin commented on #129
@doughsay did you manage to get it working?

[2017-05-31 02:13] maxcell opened #136 "Provide a `deliver_later` function"
Curious on the reasoning for not having a potential way to deliver mail asynchronously? I looked for it in the issues but couldn't find anything. Is this an idea to add or would this restrict the logic too much for another user?

[2017-05-31 02:23] princemaple commented on #136
Hi Maxcell,

Concurrency is so very first class in Elixir and it is as easy as `Task.start(MyEmailModule, :send_welcome_email, [arg1, arg2])` to asynchronously send an email. Many libs of different uses provide their async strategy, which can be useful, but it can often be very repetitive and useless to have a built in way of "doing it asynchronously" in Elixir libs if you already have developed a

[2017-05-31 07:13] stevedomin commented on #136
hello @maxcell, very good question!

As @princemaple said it would be very easy to start using `Task` to send emails in your project. The reason why this convenience was deliberately not added to this project is that I want users to make the decision about the tradeoffs involved with doing it this way.

Many people coming to Elixir, Phoenix and presumably Swoosh come from the Rails world and the `

[2017-06-07 11:46] princemaple commented on #136
Now we have a section in README about async! https://github.com/swoosh/swoosh#async-emails

[2017-06-14 00:04] maxcell commented on #136
Thank you by the way @princemaple ❤️ I really do appreciate this a lot.

[2017-06-14 00:04] #136 closed

[2017-06-14 00:07] princemaple commented on #136
@maxcell not a problem at all :)

[2017-07-04 10:51] stevedomin commented on #129
@doughsay if this is still an issue please reopen!

[2017-07-04 10:51] #129 closed

[2017-07-20 05:51] newterminator opened #144 "Sending in localhost works but not on the server"
I am using the SparkPost adaptor with Coherence (which has built in support for Swoosh). The emails are successfully sent from my laptop in development, and I receive them as expected. But using the same config code on the server does not work. I checked the online app logs which is proxy behind nginx and there are no error messages on the app side or nginx side.

I use the ubuntu firewall (ufw) a

[2017-07-20 05:59] princemaple commented on #144
Hi @newterminator ,

I'm afraid we can't help you with that. There are a million possibilities that could have caused this to happen. No reason it works locally but not on server, if you are running with the correct config. Especially when there are no error logs.
The only thing you can do is to add IO.inspect everywhere to check that the app state in every line of your code is indeed what you exp

[2017-07-20 06:03] princemaple commented on #144
This is assuming that you know what you are doing (using the correct env, setting the correct configs in the respecting env, etc)

If you can share your whole project, we might be able to help identify the error.

[2017-07-20 06:38] newterminator commented on #144
Hey @princemaple, that was really quick of your response. I really appreciate it. I wont be able to share the whole project code. But if showing the production config file will help perhaps ...

[code]

Then to start up the app with the proper credentials, I do:
`REPLACE_OS_VARS=true PORT=4000 HOST=summarybrew.com SECRET_KEY_BASE=kZq... (abbreviated for obvious reasons) ... ./bin/summarybrew start

[2017-07-20 06:46] princemaple commented on #144
Ah you are using release. Have you tried removing all the builds and recompile everything, and deploy a new release? @newterminator could be config issue with releases.

[2017-07-21 00:08] newterminator commented on #144
Hey @princemaple, yes I did try multiple times with a new release, but to no avail. I tried it to send email from the web server using curl and the SparkPost api key and that worked.

[2017-07-21 00:19] princemaple commented on #144
Have you tried this as well? You have to make sure at least your `Application.get_env` are returning the right values. Testing with curl ensures that your server does have access to the external environment, but does not help with identifying your code path / logic and config correctness.

[2017-07-21 00:23] newterminator commented on #144
Hey @princemaple , thank you for being so helpful...I am going to try out your suggestion.

[2017-07-21 00:27] princemaple commented on #144
No problem, let me know how that goes. I suspect that you have to use runtime configs (i.e. `{:system, "VAR_NAME"}` in swoosh config plus env vars in your environment for swoosh to work with releases.

[2017-07-21 00:48] newterminator commented on #144
It worked your suggestion: as in using `{:system, "VAR_NAME"}` rather than the way I had `api_key: "${SPARKPOST_API_KEY}"`

Wow man, such a small thing, and it drove me bonkers. Multiple new releases I had tried. Thanks so much for saving me.

Also thank you for writing the SparkPost adaptor for Swoosh. Cheers!

[2017-07-21 00:48] #144 closed

[2017-07-21 00:50] princemaple commented on #144
FYI @stevedomin

[2017-07-21 00:51] princemaple commented on #144
@newterminator np!

[2017-07-21 16:41] keown commented on #66
thanks a lot @manukall !!

[2017-07-24 21:43] xadhoom commented on #84
I'm also interested in this topic, right now the only way is to pass env vars on startup which is far from being optimal.

[2017-07-25 00:30] princemaple commented on #84
@xadhoom what do you think is the optimal way?

[2017-07-25 05:36] xadhoom commented on #84
Well,

I see basically 2 use cases (in addition to current "static" mix way):

1. release mode, where the setup is read from a sys.config (which is generated by tools like conform)

2.  dynamic mode, where I want to choose the adapter/config *each* time I send an email (think about it as a "multihomed" setup where each user wants to deliver his emails in a different way

The first one can may solv

[2017-07-25 05:43] xadhoom commented on #84
obviously both modes are usable at same time, is just a matter of which deliver fun the user calls (so the env config will be used unless overridden by calling deliver/3)

[2017-07-25 05:53] princemaple commented on #84
Thanks for your input @xadhoom !

[2017-08-03 19:37] #84 closed

[2017-08-28 17:22] max4all opened #152 "protocol Phoenix.HTML.Safe not implemented for %Swoosh.Email"
I can't use form senders email address on the mail.html page like <%= @email %>. Is there a way to manage this safety setting?

[2017-08-28 21:32] princemaple commented on #152
In the context you pass to the view, you can pass whatever information you want. Remember, it's just a Phoenix view.

[2017-09-01 13:06] stevedomin commented on #152
Hello @max4all, did @princemaple response helped in solving your issue?

[2017-09-11 14:58] esconsut1 opened #153 "Postmark Custom Headers not sent to API"
Hi all,
Thanks for Swoosh.

The Postmark Adapter ignores any custom headers set when composing an email.

new() |> from(...) |> to(...) |> header("foo", "bar")

Looking at the code, I see this part was not completed as yet.

[2017-09-11 19:51] stevedomin commented on #153
Hi @esconsut1,

Thanks for the bug report, we'll fix that right away!

[2017-09-12 16:07] Sathras commented on #129
i seem to have the same issue - at least i have a custom port.
using phoenix 1.3 and coherence.
It says email send, no error log; but the email never gets sent.

[2017-09-12 17:45] Sathras opened #154 "Emails not sent - SMTP adapter"
I have problems getting SMTP adapter to work:
i did set my config:
[code]
For Testing purposes I do then create a dummy email:

[code]
The console output is working well:
[code]
**_But I do never get an email neither an error message in the logger._**

I also noticed that changing my smtp password in the environment variable to a false password results in no change whatsoever.

[2017-09-12 22:24] princemaple commented on #154
A few things:

- Your otp app should really be your own app, not swoosh, but this
shouldn't matter here.
- Could you add another IO.inspect below Mailer.deliver?
- Have you tried examing the environment variables in an iex session?

On Wed., 13 Sep. 2017, 03:45 Alexander Fuchsberger <notifications@github.com>
wrote:

[2017-09-13 12:40] #153 closed

[2017-09-13 12:50] stevedomin commented on #153
@esconsut1 v0.10 is out with the fix for the Postmark adapter as well as all the other adapters. Again, thanks for reporting!

[2017-09-13 13:53] Sathras commented on #154
thanks for your feedback.
environment variables are as i believe set up correctly:
response:
[code]
the funny thing is, i use the same configuration in gmail to send mails and there it works.

[2017-09-14 00:10] princemaple commented on #154
Does it work if you use different ports for Gmail?

[2017-09-14 00:45] Sathras commented on #154
i think i am slowly getting to the bottom of this. The issue is that i am trying to use SMPTS through our internal network. I am hosting my production server in from my home network and the provider is not allowing inbound ports. My roommate is a network administrator and we will look over it eventually.

For now i switched to postman adapter which works flawlessly and out of the box.
Thanks for y

[2017-09-14 00:45] #154 closed

[2017-09-14 02:44] princemaple commented on #154
Glad you figured it out!

[2017-09-20 20:32] yordis commented on #152
@stevedomin 100000% sure that he did what I did long time ago 😆😆😆😆

@max4all, are you passing `email` as the options to the view?

[2017-09-21 11:03] stevedomin commented on #152
@yordis yep, sounds like you're right.

@max4all: does following @yordis suggestion helps with your problem?

[2017-09-21 12:55] yordis commented on #152
@stevedomin I would close it, he do not respond, he can always reopen it at any time anyway.

[2017-09-21 14:06] #152 closed

[2017-10-15 01:16] yordis opened #157 "add typespec to Swoosh.Mailer"
Hey I notice that the type specs are missing so when I generate my documentation I can't see anything in the module that `use` this module.

[2017-10-16 19:03] theodowling commented on #122
Related to pull-request #159

[2017-10-17 15:11] anthonator opened #160 "Template and view support"
Currently, if you want to have view and template support you need to either piggyback off of Phoenix or roll your own. I think it makes sense for Swoosh to provide a mechanism for rendering templates for those of us not using Phoenix.

I could see this being part of Swoosh proper or as a separate package under the Swoosh organization.

The implementation could look similar to Phoenix's template an

[2017-10-17 19:38] princemaple commented on #160
I think it's a great idea!

Ping @stevedomin

[2017-10-17 20:04] anthonator opened #161 "Can't customize SMTP port"
I pretty much have the same use case and issue as #129.

My config and the error I'm seeing are below.

My config:

[code]

My error:

[code]

I had a feeling it might be because the port is coming in from the config as a string and `gen_smtp` might not handle this properly. When I switched to a hardcoded integer in my config I got the following error:

[code]

[2017-10-17 20:18] anthonator commented on #161
I'm using Docker as well. That's why my host is `app.mailhog`. This configuration worked with Bamboo.

[2017-10-17 20:22] princemaple commented on #161
I'll take a look soon.

[2017-10-17 20:23] anthonator commented on #161
I can ping the `app.mailhog` from the Docker instance that's trying to send the emails. So access isn't the issue.

[2017-10-17 20:24] princemaple commented on #161
Is it possible to share you docker setup? Mainly the thing you use to send emails. (if it's a common setup, otherwise it's fine I'll try and figure something out)

[2017-10-17 20:26] anthonator commented on #161
Here's my `docker-compose.yml`

[code]

[2017-10-17 21:12] princemaple commented on #161
Thanks for that.

[2017-10-18 04:58] princemaple commented on #161
Hi @anthonator

Could you give the referenced branch a go?
In order to test this, you probably have to install git for your app image and use a git dependency in mix.

[2017-10-18 06:38] princemaple commented on #129
if you guys want to try out #162

[2017-10-18 08:50] #157 closed

[2017-10-18 08:54] stevedomin commented on #160
Hi @anthonator, this is a great idea!

As you said, right now we only piggyback on Phoenix but I wanted to add support for [Smoothie](https://github.com/jfrolich/smoothie) for a long time.

We'd love your contribution on that front. Let me know if I can be of any help.

[2017-10-18 14:42] anthonator commented on #161
If I define a `:port` in my config I get this error no matter what.

[code]

[2017-10-18 14:57] anthonator commented on #161
I've tried passing in an env variable and hardcoding a string and integer to my config.

[2017-10-18 16:01] anthonator commented on #160
Great! Excited to get started!

How do you want to do this from an organizational perspective? Do you think it makes sense for this to be part of Swoosh proper or a different library?

Also, I'd like to add a `:template_engines` config. How would you like to do this? We could add it as part of the current mailer config. We could also make it it's own config (this is how Phoenix does it).

An examp

[2017-10-18 16:54] yordis commented on #157
@stevedomin Sorry for bug you again, but the documentation is missing.

[2017-10-20 16:50] anthonator commented on #161
Any ideas on this?

[2017-10-20 21:22] princemaple commented on #161
Sorry I missed this one. I'll take another look today.

[2017-10-20 21:40] anthonator commented on #161
Thank you!

[2017-10-20 23:53] princemaple commented on #161
Hi @anthonator

I just setup a new test project and added swoosh with my branch. I managed to send an email to myself while configuring `port`, `auth` and `tls` all via system env var.

Could you try `IEx.break!` to find out whether you are actually getting the configs? Also maybe leave a couple `IEx.pry` in your code somewhere while you testing.

I traced your stacktrace in gen_smtp, looks like i

[2017-10-22 17:16] #161 closed

[2017-10-22 23:42] #122 closed

[2017-10-23 01:07] anthonator commented on #161
After pulling down the latest from the `po/smtp-config` branch I was able to get emails to send with a custom port 🙌

The only caveat is that I set `username` and `password` in my config but I did not provide values for the environment variables (MailHog doesn't have credentials). So `nil` was being used for both `username` and `password`. I think it could be argued that `nil` values should be ign

[2017-10-23 01:10] princemaple commented on #161
@anthonator empty strings should be good `""`, for username and password.

[2017-10-23 01:15] anthonator commented on #161
Yep, that worked!

Although from a developer experience perspective I'd still argue that ignoring `nil` in the adapter would make things less confusing. If not then better error handling for `nil` values would also be helpful.

[2017-10-23 01:23] princemaple commented on #161
Right, I'll see what I can do.

[2017-10-30 11:10] pmontrasio opened #168 "Mandrill adapter, ** (ArgumentError) argument error (and fix)"
We run out of mails in the test plan on Mandrill and it started rejecting messages with `"status": "invalid"`. This is normal but the adapter throws this error

[code]

Line 46 is the last one of

[code]

The error is caused because `body`, which is a map, is eventually passed to `:erlang.iolist_to_binary` which expects a binary and not a map.

The fix is not to `decode!` `body`, because it's alre

[2017-10-30 11:18] princemaple commented on #168
Hi @pmontrasio

Thanks for reporting!
Your fix looks right. You could have sent a PR :)

I'll go ahead and send a fix.
❤️

[2017-10-30 20:06] #168 closed

[2017-10-30 20:07] stevedomin commented on #168
Thanks for reporting @pmontrasio, this is now fixed and a new release will go out tomorrow.

[2017-11-10 18:56] sescobb27 opened #171 "mandrill template"
is there a way to set up a mandrill template when sending an email? i tried this but didn't work, if there isn't what can i do to add it to this lib?
[code]

[2017-11-12 20:01] #171 closed

[2017-11-13 15:07] sescobb27 opened #174 "Add support for send-template endpoint"
when sending an email using a template we need to hit a different endpoint `/messages/send-template.json` also we need to specify a `template_content` for the sending template and that is obligatory but can be blank.

[2017-11-15 21:32] stevedomin opened #177 "Add support for custom attachment headers in all adapters"
https://github.com/swoosh/swoosh/pull/176 added support for custom attachment headers in the SMTP adapter (and other adapters depending on `SMTP.Helpers`).

We should add support to all the other adapters when possible. Either way we should indicate in the docs for each adapter whether custom attachment headers are supported or not.

[2017-11-15 21:48] princemaple commented on #177
- nothing in sparkpost

[2017-11-16 08:05] #174 closed

[2017-11-20 13:55] stevedomin opened #179 "Add support for in-memory attachment to all adapters"
https://github.com/swoosh/swoosh/pull/178 added support for in-memory attachments.

We should use the newly introduced `Attachment.get_content/1` in all adapters that supports it.

[2017-11-22 00:29] princemaple opened #181 "Provide Attachment.new for in-memory data"
Alternatively, separate everything into
- `Attachment.from_plug_conn`
- `Attachment.from_data`
- `Attachment.from_path`

@stevedomin thoughts?

[2017-11-22 10:28] xadhoom opened #183 "Incomplete typespec in Swoosh.Attachment.new"
https://github.com/swoosh/swoosh/blob/cee805dc626b2f2e7692c18f5cc72371547ec35a/lib/swoosh/attachment.ex#L28

it should be `@spec new(binary | struct, Keyword.t) :: %__MODULE__{}` since it accepts also a Plug.Upload struct

[2017-11-28 05:44] princemaple commented on #6
Closed by #167

[2017-11-28 05:44] #6 closed

[2017-11-28 08:42] stevedomin commented on #181
I like the idea of handling data in `Attachment.new` but I'm not sure how we can differentiate between that and a path, they're both binary no?

[2017-11-28 08:44] stevedomin commented on #183
@princemaple does it make sense to fix this in https://github.com/swoosh/swoosh/pull/182?

[2017-11-28 08:47] princemaple commented on #181
We could expand the current functionality with tagged data like `Attachment.new({:data, binary}, opts)`
That being said, I prefer my other options listed above. If needed, add `new` equivalents as well.

[2017-11-28 08:49] stevedomin commented on #181
Sounds good!

Should we mark `Attachment.new/1` as deprecated and update the docs to use the functions above?

[2017-11-28 08:49] princemaple commented on #183
Might as well!

[2017-11-28 08:50] stevedomin commented on #181
We can deprecate in 1.0

[2017-11-28 09:12] princemaple commented on #181
Yeah we could. Will be a long journey though :)

[2017-11-30 10:09] vovkats commented on #128
@stevedomin I use elixir 1.5.2 I ran all instructions and got this error

[2017-11-30 11:11] stevedomin commented on #128
Hi @vovkats,

https://github.com/swoosh/swoosh/issues/128#issuecomment-302667095 didn't help at all?

[2017-11-30 11:16] #179 closed

[2017-11-30 11:16] #183 closed

[2017-12-06 01:11] princemaple opened #186 "Warning when missing smtp"
[code]

[2017-12-13 15:50] #186 closed

[2017-12-22 18:52] LostKobrakai commented on #66
This should work very much like the phoenix_ecto plug for the ecto sandbox: https://gist.github.com/LostKobrakai/9077143caacf534f9c4743cfc18a148e

[2018-01-05 11:05] sh4t4d33p opened #191 "Trouble sending email over Gmail"
I have created a basic email sending application. I have tested it locally using the mailbox preview server. However, when I change the configuration to send the email over Gmail, I get errors.
1. When I use port 1025, the error is:- `{:error,
 {:retries_exceeded, {:network_failure, 'smtp.gmail.com', {:error, :timeout}}}}`.
2. When I use port 465, I get:- `{:error,
 {:retries_exceeded, {:network_f

[2018-01-05 14:58] stevedomin commented on #191
Hello @sh4t4d33p, sorry to hear you're having issues sending email with Swoosh/Gmail.

Do you have two-factor authentication enabled on this account by any chance? If that's the case you will need to generate an app specific password: https://support.google.com/accounts/answer/185833?hl=en

[2018-01-05 16:41] sh4t4d33p commented on #191
If you mean the 2-step verification which uses the password and a unique verification code, then I don't have it enabled.

[2018-01-08 07:28] stevedomin commented on #66
@LostKobrakai apologies for not replying earlier. Would you like to submit a PR with that test adapter?

[2018-01-18 15:27] LostKobrakai commented on #66
@stevedomin I've not tested it beyond my own needs and I'm currently quite busy. So if someone wants to make an official adapter work of of it feel free. I haven't got the time to make it more official/proper at the moment.

[2018-01-19 07:21] stevedomin commented on #66
@LostKobrakai of course, makes sense! We will take care of it.

[2018-01-22 15:16] jherdman opened #197 "FYI Some Warnings"
I'm working on a greenfield Elixir 1.6 project, and I noticed the following warnings after installing Swoosh:

[code]

I'm fairly new to Elixir, so my apologies in advance if there's additional context I could have provided. I figured I'd at least open a ticket.

[2018-01-22 15:35] stevedomin commented on #197
@jherdman thanks for the heads up.

May I ask which OS you are developing on? I've seen issues where some erlang packages were not installed. See https://chodounsky.net/2015/06/03/elixir-undefined-function-xmerl/.

If that's not the issue I'll keep digging.

[2018-01-22 15:46] jherdman commented on #197
macOS High Sierra. I searched around and couldn't find a similar article. I'll keep digging.

[2018-01-25 09:08] stevedomin commented on #197
@jherdman apologies for not replying earlier.

I think the issue comes from Swoosh. Can you try pointing swoosh to this branch in your mix.exs file and let me know if you still get these warnings.

[code]

Thanks!

[2018-01-25 13:26] jherdman commented on #197
Hey Steve! Thanks for the reply. I sheepishly must admit I confused the tabs of my terminal the other day, and confused my developer environments (I do develop on macOS High Sierra, and also on Ubuntu). You were right the first time: I needed to install the erlang-xmerl package. Thank you for looking into this, and my apologies for wasting your time. Keep up the good work, I'm really enjoying this

[2018-01-25 13:26] #197 closed

[2018-01-25 13:44] stevedomin commented on #197
@jherdman no worries, glad we got it solved! :)

Also glad you're enjoying the library, please ping @princemaple or myself if you run into any issue.

[2018-02-07 03:16] princemaple commented on #6
@mikecarroll SES Adapter requires gen_smtp

[2018-02-07 13:52] mikecarroll commented on #6
Thanks!

[2018-02-07 22:23] princemaple opened #202 "Use xref exclude to suppress undefined module warning and emit explicit warning in validate_config"
https://github.com/swoosh/swoosh/pull/187#issuecomment-363884842

This way it's probably clearer for users.

cc @stevedomin

[2018-02-08 15:55] mikecarroll commented on #202
@princemaple I can take a crack at this this weekend. Only been using Elixir a few days, so may be out of my league, but happy to give it a go, especially given that I reported it.

[2018-02-08 22:33] princemaple commented on #202
@mikecarroll sounds great, feel free to ask questions!

[2018-02-17 16:04] stevedomin commented on #202
Hi @mikecarroll, hope you are well!

Are you still keen on tackling this one?

[2018-03-09 06:29] princemaple opened #207 "SparkPost Adapter not working with text-only"
[code]
while sending a pure text email

[2018-03-13 13:05] #207 closed

[2018-03-16 05:25] princemaple opened #212 "Switch from Poison to Jason"

[2018-03-22 02:04] bernardocaputo opened #213 "Mailer returns as it was sent but email does not show up Local"
Swoosh version: 0.8.1 due to dependencies

Hi all,

I have done everything as the documentation said but apparently the email does not arrive on my localhost:4000

Below you will find my code:
[code]

[code]

[code]

When I run on iex session:
iex> email = Arvore.UserEmail.welcome
 returns:
[code]
iex> Arvore.Mailer.deliver(email)
returns
[code]

but nothing arrives on my mailbox localhost:4000 th

[2018-03-22 02:53] #213 closed

[2018-03-22 06:33] Waasi commented on #212
Hello,

Submitted a PR for this. [214](https://github.com/swoosh/swoosh/pull/214)

[2018-03-22 06:58] princemaple commented on #212
@Waasi thank you very much for picking up this issue. I've reviewed the PR and left a question. Great job by the way. I could deal with the lock thing myself but am currently out traveling without a work laptop 😅

[2018-03-22 07:38] Waasi commented on #212
@princemaple No problem and thanks. I responded. Safe travel! 😄

[2018-03-22 10:23] yordis commented on #212
I am curious to know why 🤔. Could you share your experience please

[2018-03-22 11:24] princemaple commented on #212
@yordis the community is moving towards Jason. Future Ecto and Phoenix versions are already set to use  Jason.

[2018-03-23 09:06] stevedomin commented on #213
@bernardocaputo did you find out what the problem was?

[2018-03-28 19:23] princemaple commented on #212
@Waasi thanks for the contribution

[2018-03-28 19:23] #212 closed

[2018-03-29 11:49] stevedomin commented on #191
@sh4t4d33p I'm assuming this is no longer an issue and closing. Please reopen if that's not the case.

[2018-03-29 11:49] #191 closed

[2018-04-09 07:57] houmanka opened #225 "function Plug.Conn.Query.encode/1 is undefined!!"
HI guys,

`(UndefinedFunctionError) function Plug.Conn.Query.encode/1 is undefined (module Plug.Conn.Query is not available)`

Thanks

[2018-04-09 07:57] princemaple commented on #225
Mailgun requires Plug to work, sorry.

[2018-04-09 07:57] #225 closed

[2018-04-09 07:58] princemaple commented on #225
https://github.com/swoosh/swoosh/issues/202
https://github.com/swoosh/swoosh/pull/219

[2018-04-09 08:02] houmanka commented on #202
No worries, I added Plug and all good. It would be good if you please add this under the MailGun doc :)

Thanks

[2018-04-09 08:03] princemaple commented on #202
@houmanka yep

[2018-04-19 00:30] #202 closed

[2018-05-08 19:32] hisapy commented on #66
This one is inspired on Bamboo.TestAdapter

[code]

So if you're app is sending email inside `Task.async` or another async mechanism you're test should begin with

[code]

[2018-05-13 22:32] Schultzer opened #235 "New release"
Hi,

is it possible to make a new release so we can use the Regex comparison theres has been added?

[2018-05-13 22:46] princemaple commented on #235
Soon :) Hopefully.

[2018-05-16 13:45] nickjj opened #236 "Add documentation to use a Task.Supervisor"
Your README includes instructions on how to use `Task.start` for the simple case, but it would be very beneficial if you could include how to also implement a proper supervisor into an existing app and how to tie that into a `deliver_later` function.

[2018-05-16 23:16] princemaple commented on #236
It's not much different from using any other library with Task.

- Start a `Task.Supervisor` with a name in your app's supervision tree
- Instead of calling `Task.start`, call `Task.Supervisor.start_child(sup_name, deliver_fun, options)`
- Done

As we explain below the example, sending email is very application specific. We don't want to make too many assumptions. And I don't think more examples a

[2018-05-17 03:01] danschultzer commented on #236
I agree with you @princemaple, but you could also argue that `deliver_later` is something many developers are looking to implement (especially for developers who has moved from rails), and instructions on how to properly set up a supervisor could help save time for many. I don't think it belongs in the readme though, but maybe it would be good to have as a wiki page?

[2018-05-17 03:29] princemaple commented on #236
@danschultzer thanks for pitching in. `Task.start` already covers `deliver_later`. How to setup a supervisor though, is useless if the developers don't understand what a supervisor is good for, why it's needed, and how to use it. If, on the other hand, they do understand the aforementioned points, they already don't need the guidance. That being said, I'm happy to setup a wiki page if anyone is wi

[2018-05-17 10:01] nickjj commented on #236
Hi,

I mainly opened this because @stevedomin requested it (we were talking on Slack).

Basically, as a newcomer to Elixir, setting up a Task Supervisor in a custom app is a daunting task. But other email solutions like Bamboo have a `deliver_later` function that works out of the box and it's backed by a supervisor with no additional set up required by end users.

Demonstrating how to do that with

[2018-05-17 11:47] princemaple commented on #236
First of all, https://github.com/thoughtbot/bamboo/issues/126 (nothing has changed since)
We can totally add a suboptimal solution just like what bamboo has.
However, if a developer is blindly using `deliver_later` (at the level of implementation same as what bamboo has) it's not much better than simply using what we have in the docs. `Task.start`.

I know having an existing solution in the librar

[2018-05-17 12:28] nickjj commented on #236
Yeah with ActiveJob you would typically use something like Sidekiq to somewhat intelligently handle failures and retries, or at least get some type of insight on what flowed through your queue.

I was hoping to avoid that type of model, but it's sounding like if you to do want retries, etc. then something comparable to task_bunny is likely necessary, short of writing your own ETS backed solution?

[2018-05-17 12:28] princemaple commented on #236
@nickjj No I don't use task_bunny. Elixir itself is good enough for me. I don't have a need for queuing.
Most of the time I send asynchronously to avoid blocking other operations (e.g. responding to a request), but the emails are almost always sent immediately at the same time (in parallel to other things that need to happen without being blocked).

[2018-05-17 12:57] princemaple commented on #236
When I do have to handle complicated failures, I wrap the entire asynchronous part with a GenServer, so I can start a dedicated server to wait on the email being sent, and handle all possible outcomes.

[2018-05-21 04:10] zmcNotafraid opened #242 "Can't find Jason in Production"
After update 1.14, local is ok to run swoosh.But in production mode cause  Jason encode error.It's there any operation need us to do ?

[2018-05-21 04:15] princemaple commented on #242
could you show the full error message?

[2018-05-21 04:25] zmcNotafraid commented on #242
Just now we fix it. We use swoosh in Coherence deps, not add it in mix.exs standalone. But seem it didn't include Jason.So we add Jason in mix.exs.And It's work.

[2018-05-21 04:25] #242 closed

[2018-05-21 06:15] princemaple commented on #242
thanks for the update

[2018-05-24 11:06] denispeplin commented on #242
@zmcNotafraid, same trouble. Have you add it into `applications` list?

[2018-06-12 21:49] justanotherdot opened #247 "Clearing message queue in mailbox preview"
Is there a way to clear out the mailbox preview for local dev? I would find this useful after long sessions of debugging notifications and don't want to be lost in other emails being sent.

It looks like `Swoosh.Adapters.Local.Storage.Memory` has a `:delete_all` call implemented. One option I can imagine working for this type of feature.

1. A route to invoke `:delete_all` in `mailbox_preview.ex`

[2018-06-13 01:07] stevedomin commented on #247
We should definitely add a button. I've wanted that myself for a while.

Do you think you can you submit a PR for it?

[2018-06-13 02:02] justanotherdot commented on #247
Sure thing 👍

[2018-06-14 08:45] princemaple commented on #236
I made this little lib that deals with many aspects of running async tasks, which I described in my previous comments. https://github.com/princemaple/tusk

[2018-06-14 13:03] costaraphael commented on #242
So, I was taking a look at the code, there is no fallback to Poison when looking up the `:json_library` configuration.

This broke our email delivery as well, so I had to add the configuration to use Poison.

IMO, one of two things should happen:
- Implement a proper fallback to `Poison` in the `Swoosh.json_library/0` function;
- Document that there is a breaking change and that the user should ei

[2018-06-14 14:05] princemaple commented on #242
Hi, Swoosh has Jason as its explicit required dependency. If you ran `mix
deps.update` to update Swoosh from an older version to a newer version, it
should pull in Jason with no trouble at all. The probable scenario here is,
you have a very simple deployment setup that simply throws code onto a
server. If you had a `mix deps.get` somewhere in the deployment
script/command/anything, it should not b

[2018-06-14 22:01] princemaple commented on #242
Thanks a lot for the investigation. You are right about the application listing. Since we require elixir 1.4

[2018-06-15 00:42] princemaple commented on #242
@costaraphael no worries. Thank you for the detailed breakdown!

[2018-06-18 07:36] princemaple commented on #247
Thanks @justanotherdot !

[2018-06-18 07:36] #247 closed

[2018-07-17 22:26] DanielDent opened #258 "Copy attachments for dev mailbox"
The development mode mock adapter is extremely useful, but currently has a significant limitation: the attached file appears to simply be a pointer to wherever in the filesystem the attachment was located at the time the email was created.

Normal program operation might involve that attachment being deleted immediately after the email is sent, or it might involve a file whose contents change over

[2018-07-17 23:29] princemaple commented on #258
Hi Daniel,

Thanks for reporting!

We could, in this function https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/local/storage/memory.ex#L119-L123
call https://github.com/swoosh/swoosh/blob/master/lib/swoosh/attachment.ex#L78-L80 with :base64
to store the attachments as either provider options or private fields.

Do you feel like you can send a PR?

[2018-08-02 22:25] sbrink opened #268 "Problem with gen_smtp and OTP 21 (matching errors)"
This is more of help for others because it cost me several hours to figure this.

This current release of `gen_smtp` does not support **OTP 21.**

If you're using Elixir 1.7, you're probably using OTP 21. If this is the case, you'll get matching errors with gen_smtp v0.12. Sth. like cannot match 0A/0B on right side...

Possible solutions:
* Downgrade to OTP 20. It tried this and it solves the prob

[2018-08-02 23:07] princemaple commented on #268
Thank you very much for reporting this. I'll leave this open.

[2018-08-04 07:53] princemaple commented on #268
https://github.com/Vagabond/gen_smtp/commit/fc01557777dbae988d919194475d994ff8947628

gen_smtp 0.13 has been released. Could you give it a go?

[2018-08-04 07:59] sbrink commented on #268
Not pushed to hex yet: https://hex.pm/packages/gen_smtp

[2018-08-04 08:15] princemaple commented on #268
Ah OK, sorry!

On Sat, 4 Aug 2018 at 17:59 Sascha Brink <notifications@github.com> wrote:

[2018-08-07 11:30] princemaple commented on #268
Hi @Vagabond sorry about the ping, is there anything holding you back from making a release to hex? Thanks!

[2018-08-07 14:45] Vagabond commented on #268
I don't have permissions on hex for gen_smtp (weird I know) and the person who does has not added me.

[2018-08-08 03:13] Vagabond commented on #268
I have gained access and I have published 0.13 :)

[2018-08-08 04:13] princemaple commented on #268
That's great news!

On Wed., 8 Aug. 2018, 13:13 Andrew Thompson, <notifications@github.com>
wrote:

[2018-08-08 08:17] sbrink commented on #268
It works with 0.13. Thx to all :)

[2018-08-08 08:17] #268 closed

[2018-08-08 12:55] Batarian711 opened #273 "Logo design"
Hi. I am a graphic designer. I like helping open-source projects. I want to give you a logo to use in the readme file. Do you have an idea? What do you say?

[2018-08-08 13:29] princemaple commented on #273
Haha @stevedomin

[2018-08-08 13:35] Batarian711 commented on #273
Is there a problem ?

[2018-08-08 18:17] 13k opened #274 "Impossible to do partial matching with `Swoosh.TestAssertions.assert_email_not_sent/1`"
`Swoosh.TestAssertions.assert_email_not_sent/1` pins the `email` value and passes it to `refute_received`. Since pattern matching against pinned values compares the actual values instead of doing the pattern match (it's essentially a `==` comparison), it's impossible to use `assert_email_not_sent` with a partial email (like it's possible with `assert_email_sent`). For example:

[code]

It's possib

[2018-08-08 21:01] princemaple commented on #273
No, I just don't have an opinion. :)

[2018-08-08 21:02] Batarian711 commented on #273
Do you want me to do ?

[2018-08-08 21:06] princemaple commented on #274
I see what you mean. Do you want to send a PR? I think we can keep the old one and add the refute version. We can then deprecate the old one if necessary.

[2018-08-08 21:07] princemaple commented on #273
I want Steve to see it first :)

On Thu., 9 Aug. 2018, 07:02 Batarian711, <notifications@github.com> wrote:

[2018-08-08 22:57] stevedomin commented on #273
@Batarian711 since you asked the same thing in https://github.com/duffelhq/paginator but I didn't have  time to reply, here's my take on it:

I can't think of anyone who wouldn't be happy to get a free logo for their open source project, however everyone will want a good quality one. Right now, it's hard to assess whether that will be the case. You say that you like helping open source projects, w

[2018-08-10 01:15] #273 closed

[2018-08-13 23:15] abderrahmaneayad opened #275 "Templates in Sparkpost"
Is there is a way to use the templates from the [Sparkpost documentation](https://developers.sparkpost.com/api/templates/).

Because this code:
[code]
does not work.

Am I messing something ?

[2018-08-13 23:43] princemaple commented on #275
Hi @abderrahmaneayad ,

You are not missing anything. It's simply not implemented. Please send a PR if you want to use the functionality.

[2018-08-17 07:40] #274 closed

[2018-08-22 08:44] OpakAlex opened #282 "How to add AWS tags to email?"
Hello, i am tried to add AWS tags to email:
[code]

But looks like it ignores my tags...

[2018-08-22 08:54] princemaple commented on #282
What are they supposed to do? I don't think the feature you are describing is implemented. If you want a specific feature to be implemented, please update your issue to thoroughly describe the feature. Thanks.

[2018-08-22 08:55] #282 closed

[2018-09-10 16:58] ijunaid8989 opened #285 "How attachment works in Mailgun Adapter."
I have tried all available methods such as

`Swoosh.Attachment.new("image base 64 data", type: "inline", filename: "snapshot.jpg", content_type: "image/jpg")`

`%Swoosh.Attachment{data: "image base 64 data", type: "inline", filename: "snapshot.jpg", content_type: "image/jpg"}`

Nothing works, Either I get `[error] :undef` or anyother issue.

If  See the full email object, the base64 data was only

[2018-09-10 17:45] rhnonose opened #286 "Add sandbox mode for sendgrid"
I would like to have the option to send the e-mail in a sandbox mode, more specifically for sendgrid.

[It's through a field on the payload](https://sendgrid.com/docs/for-developers/sending-email/sandbox-mode/) , but other providers such mailgun and mandrill have a test mode (different api keys).

It could be added as an adapter specific config or as a parameter in the `Email` struct (couldn't fin

[2018-09-10 23:31] princemaple commented on #286
We have `provider_options` that can be used for provider specific data/operations.
https://github.com/swoosh/swoosh/blob/master/lib/swoosh/email.ex#L32

A few examples:
- https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/mandrill.ex#L165
- https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/sendgrid.ex#L117

You can send a PR to enable sandbox mode for sendgrid adapter.

[2018-09-10 23:44] princemaple commented on #285
Indeed mailgun adapter currently doesn't support in-memory attachment. I'll see what I can do.

[2018-09-11 00:00] rhnonose commented on #286
Thanks @princemaple, I'll work on it.

[2018-09-11 00:01] princemaple commented on #286
Great, thank you!

[2018-09-11 04:27] ijunaid8989 commented on #285
Until then we need to first save the jpeg and then add it to attachment?

[2018-09-11 04:38] ijunaid8989 commented on #285
Okay, I have tried to add an attachment as
[code]
As according to the code , `get_content` method should work and also give data back if path is not given. right now nothing is happening. May be I am doing something wrong ?

[2018-09-11 04:43] princemaple commented on #285
`get_content` works as expected, but is not used in Mailgun adapter code, since Mailgun API is quite different from the rest of the supported providers, apparently I missed the special case when adding inline attachment features to all adapters. We need to make some modifications to Mailgun adapter.

[2018-09-11 06:07] ijunaid8989 commented on #285
Okay, I am trying to use it in our project github.com/evercam/evercam-server, At first, I started with Bamboo but it don't support inline attachments, So I left it.

Now I am using swoosh but its supports inline but not the base64 encoded data, I am stuck in these things. Do you think it will be fixed soon? can this part of commit be helpful to you https://github.com/evercam/mailgun/commit/8c73ada

[2018-09-11 06:27] #285 closed

[2018-09-11 06:40] ijunaid8989 commented on #285
Will it be in the new release? Or should I use GitHub link?

[2018-09-11 06:46] ijunaid8989 commented on #285
Also I am using Phoenix Swoosh. will that change make it work in phoenix too?

[2018-09-11 06:59] princemaple commented on #285
Released in v0.19

Phoenix or not, doesn't matter.

[2018-09-11 07:00] princemaple commented on #285
Please pass raw data to Swoosh attachment, not already base64 encoded

[2018-09-11 07:06] ijunaid8989 commented on #285
Okay, So right now, I am doing this
[code]
Attachment is coming in this way

[code]

But on IO.inspect.

I can see attachment like this

[code]
Sorry for commenting again but where Am I wrong this time?

[2018-09-11 07:13] princemaple commented on #285
`email |> attachment(Swoosh.Attachment.new({:data, thumbnail}, filename: "snapshot.jpg", content_type: "image/jpeg", type: :inline))`

note: I changed `thumbnail` to `{:data, thumbnail}`, `image/jpg` to `image/jpeg`, `"inline"` to `:inline`

[2018-09-11 09:05] ijunaid8989 commented on #285
Okay, thanks. Documentation needs improvements.

[2018-09-14 22:12] #286 closed

[2018-09-16 23:50] #275 closed

[2018-10-05 07:35] DanielDent commented on #124
I got this exception which I suspect is related:

[code]
It's a little ugly from a debugging perspective, because there isn't anything which indicates what error Mailgun gave.

This code seems to be the culprit:
[code]

[2018-10-05 07:47] princemaple commented on #124
@DanielDent Yeah the error handling is not ideal at the moment. We really need more help from the community to keep up with all the providers.

[2018-10-19 10:19] lpil commented on #66
Would you be open to a pull request to the test adapter that adds this functionality?

[2018-10-19 11:49] stevedomin commented on #66
@lpil yes, definitely!

[2018-10-25 14:08] fdorothy opened #308 "Add extra headers for SES SendRawEmail"
I'm wanting to set the X-SES-SOURCE-ARN, X-SES-FROM-ARN and X-SES-RETURN-PATH-ARN headers when sending an email through SES's SendRawEmail method. See:

https://docs.aws.amazon.com/ses/latest/APIReference/API_SendRawEmail.html

Is it currently possible to set those headers? If not, then it would be nice to be able to specify those headers in the configuration for SES.

[2018-10-25 18:49] stevedomin commented on #308
Hello @fdorothy,

We currently don't support setting these headers but it looks like it wouldn't be too hard to add. Do you want to have a crack at it?

[2018-10-26 08:41] princemaple commented on #258
Closing with #306

[2018-10-26 08:41] #258 closed

[2018-10-26 19:43] fdorothy commented on #308
Nevermind, it looks like AWS lets you pass those in as email headers!

[2018-10-26 19:43] #308 closed

[2018-10-28 15:42] stevedomin commented on #308
@fdorothy glad you could get it sorted! Have a great day.

[2018-11-08 02:49] rparcus opened #309 "Is there a way to set timeout time?"
It would be useful to be able to control timeout time. How can we do that?

[2018-11-10 14:19] stevedomin commented on #309
Hello @rparcus,

What do you mean exactly? Which timeout are you referring to?

[2018-11-12 13:14] stevedomin commented on #309
We don't support this currently, however this would be nice to have.

[2018-11-16 17:32] Doerge commented on #181
#288 works with Mandrill as well 🎉
[code]

[2018-11-20 21:46] paulruescher opened #314 "Support for Erlang 21 in the SMTP Adapter"
Came across an issue with the SMTP Adapter and Erlang 21:

[code]

We found that by updating `{:gen_smtp, "~> 0.12.0"}` to `{:gen_smtp, "~> 0.13.0"}` in our `mix.exs` file fixes our problem.

Just wanted to raise this in case there should be an actual update within this project.

[2018-11-24 15:41] GildedHonour opened #315 "Unable to authenticate"
My config:

    config :my_app, MyApp.Email.Engine,
      adapter: Swoosh.Adapters.SMTP,
      relay: "my_email_server.com",
      username: "emai1@my_domain.com",
      password: "3344556677",
      port: 587,

      # tls: :if_available,
      tls: :always,

      auth: :always,
      retries: 3,
      no_mx_lookups: false,

This doesn't work and produces this:

    postfix/submission/smtpd[1600

[2018-11-24 16:53] GildedHonour opened #316 "How to use it with my own Postfix server?"
My own postfix server requires ssl/tls. I haven't been able to authenticate.

There's no example.

[2018-12-19 16:12] princemaple commented on #316
do you use it via smtp?

[2018-12-20 16:20] dustinfarris commented on #66
I tried to add this to the Swoosh Test Adapter, but had a hard time writing tests for it.  The async process seems to get tangled up with the test runner.

I ended up copying @hisapy's example test adapter into my own project and it is working well.

[2018-12-26 21:54] ugifractal commented on #191
FYI: I am using mailman elixir and maybe same issue with swoosh, using mailman I got

[code]
but the error only happen on production, tried locally working good.

Then I changed the google account to the business account then working nicely.

So I think the problem is coming from SMTP account and (maybe) related to server IP address.

[2018-12-27 05:38] princemaple commented on #309
Should be resolved by #327

[2018-12-27 05:38] #309 closed

[2018-12-27 05:39] #316 closed

[2018-12-27 05:39] #315 closed

[2019-01-07 11:49] CrowdHailer commented on #160
Looking through issues as thinking of using swoosh in our project.

I recently created [eex_html](https://hex.pm/packages/eex_html) (because I don't use phoenix) might be useful if this is still a feature people are working on

[2019-01-07 12:45] stevedomin commented on #160
hi @CrowdHailer - this looks great, exactly what we would need for this use case. 👌

[2019-01-21 19:34] cburman01 opened #333 "Process.link on :already started memory adapter genserver"
I have an issue that is probably uncommon:

When running in a multi node connected environment, swoosh attempts to register global pid:
https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/local/storage/memory.ex#L20

This is fine, but the casefor already_stated links the two pids together. In my cluster, if the linked pid crashes, it will cause the Memory genserver to crash too. Since

[2019-01-21 21:31] princemaple commented on #333
Hi @cburman01 I'm not exactly sure what the problem is. This `Process.link` is supposed to be only called by the supervisor, so the supervisor knows when it's down, and will be able to restart it, across nodes if you were in a cluster and the node used to own this process went down. No other processes should be affected at all.

[2019-01-21 21:42] cburman01 commented on #333
What I am seeing is if node A goes down, and the process is running on node
a, the process link on node b also crashes and inturn crashes the app. I
don’t see the process being restarted. The whole supervisor crashes on node
b. It’s very odd. I can supply code if we need to discuss more than just
theory.

Collin

On Mon, Jan 21, 2019 at 3:31 PM Po Chen <notifications@github.com> wrote:

[2019-01-21 21:54] jpinnix opened #334 "key :adapter not found in: [otp_app: :my_web]"
I just installed Swoosh and followed the instructions. I'm getting the following exception: `** (KeyError) key :adapter not found in: [otp_app: :my_web]`

Any ideas what could cause this?

Complete error and the config from config.exs below.

[code]

config.exs:
[code]

[2019-01-21 22:06] princemaple commented on #333
Hi again, I just tested spinning up two nodes with swoosh available, joined them together and killed one of them:

Node X
[code]

Node Y
[code]

Nothing seem to crash, the supervisor on the second node noticed that the global process was down and took over. That's it. Did any other process crash in your scenario?

[2019-01-21 22:14] princemaple commented on #334
Hi,

Is your otp app really `:my_web` not `:pow`? Is your `Mailer` `MyWeb.Mailer` or `Pow.Mailer`?

[2019-01-24 14:58] cburman01 commented on #333
Tested again and its working. Nothing changed on our end so it must have been something goofy going on. Thanks for your help.

[2019-01-24 14:58] #333 closed

[2019-01-28 14:25] ivan-kolmychek commented on #66
We have also stumbled upon some problem with testing swoosh in our higher-level tests.
We have tried out an approach with "custom" adapter using Mox (https://github.com/plataformatec/mox). With minor workarounds it works quite all right, but I can't say for sure until enough time passes and no problems are discovered.

I'm leaving this message here as a tip for others, as I don't have time right n

[2019-01-28 15:57] ivan-kolmychek commented on #66
Here is a summary, without project-specific stuff.

In test helper (somewhere in `test/support/`):
[code]

Examples of/for error tests are omitted, as principle is pretty much the same, you control what fake adapter returns as result of :deliver.

If you already provide all required pids as either `pid` or `pids` in contexts, helpers can be used in `setup`.
Otherwise, nothing really prevents you f

[2019-02-03 04:38] aselder opened #337 "mix swoosh.mailbox.server won't start"
I'm starting up a new Phoenix project and trying to get the preview email server running, but it won't start up:

[code]

Applicable verisions:
[code]

[2019-02-03 23:05] princemaple commented on #337
Hi,

might need to remove your deps and _build dirs and retry. plug and plug_cowboy versions look good.

[2019-02-05 16:18] ivan-kolmychek opened #340 "SMTP adapter + html results in long lines in quoted-printable message."
We are trying to switch our emails to Swoosh from Rails-based system.
We use service to try to predict are our mails counted as spam or not, that includes running them through Barracuda spamfilter.

When we switched, this started to show up in report:

Looking at the quoted-printable source of result, the lines do exceed 76 chars.

As an attempt to quickly fix it, I have locally cloned swoosh and

[2019-02-06 09:29] birdnestman opened #343 "Mailgun deliver creates Jason error"
Hello

I got an error when I want to send emails with Mailgun adapter. Any idea what I've done wrong?

`
PhoenixInterface.MailGenerator.welcome(%{name: "simon", email: "simon@test.com"}) |> PhoenixInterface.Mailer.deliver
** (Jason.DecodeError) unexpected byte at position 0: 0x4D ('M')
    (jason) lib/jason.ex:78: Jason.decode!/2
    (swoosh) lib/swoosh/adapters/mailgun.ex:39: Swoosh.Adapters.Mail

[2019-02-06 10:03] princemaple commented on #343
Hi, could you share your `welcome` implementation and its according template?

[2019-02-06 12:34] tv4-infrastruktur opened #344 "Amazon SES signing fails"
When trying the Amazon SES adapter I get a signature error.
Trying the same Amazon SES credentials with the SMTP adapter it works so the error really seems to be related to the signing of the SES request.

[code]

[2019-02-06 12:59] birdnestman commented on #343
Sure:
[code]
[code]

[2019-02-06 14:37] tv4-infrastruktur commented on #344
Found an issue with the SES access for the AWS credentials.

[2019-02-06 14:37] #344 closed

[2019-02-06 17:04] princemaple commented on #343
Hi, looks like you ran into a case where mailing returns some error and the adapter is not handling it well. Could you set a break point at Jason.decode!

[2019-02-06 17:06] princemaple commented on #343
Sorry posted it by accident before finishing typing.

[2019-02-07 07:51] birdnestman commented on #343
The output is `"Mailgun Magnificent API"` and that's why it crashes. This is no json format...

[2019-02-07 08:08] princemaple commented on #343
A quick google search suggets that you could have made a mistake in either your api access key or the domain. Could you double check?

[2019-02-10 16:17] LostKobrakai opened #345 "Add validate_config to adapter behaviour"
It seems that swoosh depends on adapters having `validate_config/1` defined, but it's not part of the behaviour right now. I have an adapter, which is just a thin wrapper around the sparkpost adapter and I don't want to use `use Swoosh.Adapter` as I don't want that to be implemented on my wrapper, but I only want to delegate to `Swoosh.Adapters.Sparkpost`. For cases like that the behaviour should

[2019-02-10 18:42] aselder commented on #337
I tried removing a rebuilding with no luck.

Looking at the plug_cowboy code, `child_spec` only has a 1-arity definition of `child_spec`:
[code]

The example has:
[code]

This is something that changed from plug_cowboy version 1 (child_spec had a deprecated 4-arity and the 1-arity) to version 2 (only having the 1-arity). Given that the 1-arity version of the function exists in both v 1 and v 2, it

[2019-02-10 19:04] aselder commented on #337
Here's the PR: https://github.com/swoosh/swoosh/pull/346

[2019-02-10 20:20] princemaple commented on #337
Thanks a lot. Will review soon!

On Mon., 11 Feb. 2019, 06:04 Andrew Selder, <notifications@github.com>
wrote:

[2019-02-10 21:57] princemaple commented on #345
Hi @LostKobrakai what's your reason not wanting to `use Swoosh.Adapter`?
Please take a look at https://github.com/swoosh/swoosh/pull/348, with this PR the adapter module now injects almost no code.

[2019-02-10 22:01] LostKobrakai commented on #345
This is twofold. One part is that even if `validate_config/1` is generated it it still should be part of the behaviour if it's required to be implemented. The other part is that I don't want any autogenerated code if I delegate completely to another adapter anyways:

[code]

[2019-02-10 22:14] princemaple commented on #345
Makes sense. Updated.

[2019-02-10 22:20] princemaple commented on #345
If you get some time, please take another look at #348
I'll make a release if that looks OK to you.

[2019-02-10 22:25] LostKobrakai commented on #345
Looks good to me

[2019-02-10 23:22] #345 closed

[2019-02-20 00:42] princemaple commented on #340
released v0.22.0

[2019-02-20 00:42] #340 closed

[2019-02-21 15:02] mitchellhenke opened #356 "Optional mail dependency generates warnings"
In the latest release, #342 added an optional dependency on [mail](https://github.com/DockYard/elixir-mail) and makes use of the functions in the library, which generates warnings during compilation if you don't have that dependency.

Example output:

[code]

[2019-02-21 21:36] princemaple commented on #356
Hi, thanks for reporting. Fixing right now.

[2019-02-21 21:49] #356 closed

[2019-02-26 08:52] paveltyk commented on #236
How do I assert email sent in tests, when using a separate task? `assert_email_sent` looks in current process mailbox. I've tried:

[code]

But no luck. Any advice?

[2019-03-03 19:07] dottjt opened #361 "Secure handling of access keys"
I'm just wondering what the recommended way of handling access keys is for both prod and dev.

For example, I'm having to setup Swoosh config in the config file, but I can't dynamically pass in the ENV variables (ACCESS_KEY, SECRET_KEY) because it doesn't work for dev (although works for prod), and obviously I can't put this straight in the file because they need to be committed and they're public

[2019-03-03 22:17] princemaple commented on #361
Hi @dottjt , for local dev we normally just use `Swoosh.Adapters.Local` which doesn't require any secrets. And for production, indeed using environment variables is the goto way. If you were wondering how to set configs differently for dev and prod, checkout how a phoenix project is generated. If you did want to test it live when developing, every company could have different ways of distributing

[2019-03-03 23:43] dottjt commented on #361
@princemaple Oh, excellent! Thank you, I think you've lead me in the right direction :)

[2019-03-03 23:56] princemaple commented on #361
Glad I could help!

[2019-03-03 23:56] #361 closed

[2019-03-09 21:04] dottjt opened #363 "How to implement multiple views in the one file?"
Hello, I've just got a question.

I've noticed this piece of code at the top of the file, which sets the view and template:

`use Phoenix.Swoosh, view: Sample.EmailView, layout: {Sample.LayoutView, :email}`

However what if I want to use multiple views and layouts in the same file?

Any help is appreciated :)

[2019-03-10 22:32] princemaple commented on #363
https://github.com/swoosh/phoenix_swoosh/blob/master/lib/phoenix_swoosh.ex#L54-L59

You could call `put_view` and `put_layout`

[2019-03-10 22:32] #363 closed

[2019-03-12 09:54] h4cc opened #364 "Not enforcing password and username to be string with auth: :never"
We upgraded to v0.22 and got an issue:

When using `Swoosh.Adapters.SMTP` with  `auth: :never` the username and password need to be a string and cant be `nil` because they are checked by `enforce_type!` which fails with:

This seemed to introduce that change: https://github.com/swoosh/swoosh/pull/166

[2019-03-12 10:55] princemaple commented on #364
Hi, what type are they supposed to be? If `auth: :never` is a valid option, could you send a PR to add it to the list and link the documentation? Thanks.

[2019-03-17 22:37] #364 closed

[2019-03-20 14:48] LostKobrakai opened #371 "Sent time in mailbox"
It would be nice if the local development mailbox would show a datetime of when the selected email was sent.

[2019-03-21 23:12] #371 closed

[2019-03-27 13:48] ivan-kolmychek commented on #66
A small note, just in case anyone will have same issue - after update today we got weird error in our tests:
[code]

Placing the `IO.inspect([ info | body ])` a line above the `deps/mox/lib/mox.ex:281` and running tests showed that `validate_config` was being defined twice:
[code]

This is because [`validate_config` was added to `Swoosh.Adapter` behaviour](https://github.com/swoosh/swoosh/commit/e

[2019-03-31 23:22] jfreeze commented on #343
What domain is it looking for here?

This?    domain: "api.mailgun.net"

[2019-04-03 18:12] reallinfo opened #376 "logo contribution"
Hello! in my free time I am designing logos for open source software. You can view my portfolio by looking at the activities in my Github profile. I think this project doesn't have a logo. That's why I designed a logo that I think is functional. it represents the function of the software and it also represents elixir. I hope you like this. If you have a different idea, I'd be happy to help. Here i

[2019-04-03 21:44] princemaple commented on #376
@stevedomin

https://goo.gl/images/3agFLZ this is what it looks like to me... (Bamboo shoot)

[2019-04-04 15:08] stevedomin commented on #376
Hi @reallinfo. Thank you very much for offering this. To be completely honest I don' think the project really needs a logo at this point so I'm going to close this. Thanks again for taking the time to do this.

[2019-04-04 15:08] #376 closed

[2019-04-22 04:14] Immortalin opened #381 "CSRF Token Error in Email Preview"
Error when attempting to clear message queue
![image](https://user-images.githubusercontent.com/7126128/56482701-16e0a980-64f8-11e9-9607-ee519561e0c7.png)

[2019-04-24 06:53] ilyakard commented on #314
I've just had the same problem, it took up a bit of debugging... The readme files for both Swoosh and the SES adapter still reference gen_smtp 0.12 instead of 0.13

[2019-04-24 06:55] princemaple commented on #314
Hi,

Sorry about the inconvenience.
I'm currently traveling. Could you send a PR?

On Wed., 24 Apr. 2019, 14:53 Ilya, <notifications@github.com> wrote:

[2019-04-26 14:32] princemaple commented on #381
Huh, I wonder why other people haven't encountered this before. Have you set url or something in the config?

[2019-05-19 19:49] sensiblearts opened #384 "ElasticEmail -- or switch?"
Hi,
I already have an ElasticEmail account for another project, and need to choose:
- use Swoosh and write an adapter?
- use Bamboo and [bamboo_elastic_email](https://github.com/KineticCafe/bamboo_elastic_email) ?
- use Swoosh and get e.g., SendGrid account

Any strong opinions?

I had some delivery issues with ElasticEmail, but I think it was my settings on my SPF and DKIM, and/or cert or IP issu

[2019-05-19 22:26] princemaple commented on #384
Hi David,

Frankly, it's entirely up to you and is mostly by preference. My usual setup is swoosh+sparkpost. I haven't been following bamboo since quite long ago, so I can't list a comparison list or pros and cons. Most bamboo are third party libs, making it harder to track. They are very much alike anyways.

Regards,
Po

[2019-05-22 10:30] #384 closed

[2019-05-22 10:30] #381 closed

[2019-06-10 19:54] jc00ke commented on #66
What about an adapter where we can assert on the contents of a queue, not so unlike [Oban.drain_queue/1](https://github.com/sorentwo/oban/blob/fadb7e98fae2f851834d281b8c2c3cb378706e22/README.md#integration-testing). Seems like the message passing gets pretty sticky, but if there was a general "mailbox" that all emails went to, then finding your specific email would be `O(n)`, which I'd assume to b

[2019-06-15 13:07] ivan-kolmychek commented on #66
@jc00ke I think you can achieve this with Mox-based setup by spinning a process to store the list of mails and sending message to it `Mox.stub(:deliver, fn email, _config -> ... end)` part, instead of sending it to test process.

In this case passing messages around is still there, of course. In my (very limited) experience it's not a big problem, the spinning up a process per test may be a bigger

[2019-06-20 07:13] naddika opened #389 "How to set the headers manually?"
Say, I want to set the "From" header manually. Among the others. How will I do this?

[2019-06-20 07:18] princemaple commented on #389
Are you talking about `From` specifically or any arbitrary header? https://github.com/swoosh/swoosh/blob/master/lib/swoosh/email.ex#L426 whether it is respected or used at all depends on the service provider.

[2019-06-28 02:59] #389 closed

[2019-07-13 16:15] justinbkay opened #395 "Upgrading from 0.8.1 to 0.23.3: module Plug.Swoosh.MailboxPreview is not available"
When I try to compile after updating the package to 0.23.3 from 0.8.1, I get an error saying that the Plug.Swoosh.MailboxPreview module is  not available.  As far as I can tell everything is set up in the application correctly.  The error comes from the router.ex file:

`
== Compilation error in file lib/refleq_web/router.ex ==
** (UndefinedFunctionError) function Plug.Swoosh.MailboxPreview.init/1

[2019-07-13 19:59] justinbkay commented on #395
Seems as though I needed to add {:plug_cowboy, "~> 1.0"} to my mix.exs file for this to work.

[2019-07-13 19:59] #395 closed

[2019-07-16 16:39] GildedHonour opened #396 "How to set up headers?"
For instance, I want to manually set "Return-Path" for an outcoming email. How?

[2019-07-16 22:35] princemaple commented on #396
It depends on whether your service provider supports it. If so, simply https://github.com/swoosh/swoosh/blob/master/lib/swoosh/email.ex#L425

[2019-08-15 14:47] thantez opened #399 "gmail refresh token"
hi
I use gmail for sending development emails and its `access_token` will expire after one hour.
How can I use `refresh_token` for refreshing access token in swoosh?
thanks

[2019-08-16 04:03] princemaple commented on #399
Hi @thantez please take a look at this comment https://github.com/swoosh/swoosh/pull/342#issuecomment-461260398

We don't have an implementation to help refresh the access token.

[2019-08-18 09:27] #399 closed

[2019-08-24 03:10] donileo commented on #96
I'm currently having this issue.

[2019-08-24 03:24] princemaple commented on #96
@donileo We are going to need more information than that :) what have you tried?

[2019-08-24 03:41] donileo commented on #96
@princemaple Hey Sorry. I was just about to add some more information. So I pretty much have the same config as mentioned by the original op

[code]

Sending of a test email via deliver generates a valid response via IO.inspect so I know the email is valid:

[code]

Some more proof that the email is valid is that if I try not to do ` mix swoosh.mailbox.server ` and instead go via invoking a Plug v

[2019-08-24 04:32] princemaple commented on #96
Are you running the command alongside your phoenix app? Like, one shell running `mix phx.server` and the other running `mix swoosh.mailbox.server`? That is not going to work. For it to work within the same process running phoenix, you can put in your `config/dev.exs`:

[code]

This will make it run the swoosh mailbox server while you do `mix phx.server`

[2019-08-24 04:38] donileo commented on #96
@princemaple Thanks! That configuration option did the trick. It'd be nice if this was added to the README.

[2019-08-24 04:45] princemaple commented on #96
Glad it worked. Care to send a PR? Or I can do it a bit later.

[2019-08-24 04:54] donileo commented on #96
Sure thing. I'll cook up a PR.

[2019-08-24 06:01] princemaple commented on #96
Merged. Thanks again @donileo . It's much better now.

[2019-08-29 13:53] MikaAK opened #401 "Crashing when set in distributed multi-node environment"
We have a 15 node cluster where swoosh is available on a multitude of the nodes, however when one node crashes or there's a few going down and coming up, other nodes that we're testing with (that are literally doing nothing but idling) get crashed by swoosh and taken down which in turn crashes the entire node.

[code]

We're not using swoosh in any way on the other nodes so I'm going to remove the

[2019-08-29 14:04] princemaple commented on #401
Midnight in Australia ATM, I'll get to this tomorrow. Feel free to ping me if I forget.

[2019-08-29 14:24] MikaAK commented on #401
🙏  no worries

[2019-08-31 00:59] #401 closed

[2019-09-02 11:45] #396 closed

[2019-10-08 22:15] jc00ke commented on #66
I used @hisapy's [method](#issuecomment-387516542) but the `assert_email_sent` assertion doesn't work in all situations. Asserting in a `receive/1` block works when `assert_email_sent` doesn't, specifically when I use `Task.start/1`. :man_shrugging:

[2019-10-16 21:51] sensiblearts opened #409 "AmazonSES + Digital Ocean, Ports?"
Sorry to trouble you,

I just moved a working app from GCE to DigitalOcean, and it broke -- cannot send Swoosh emails via SES.

So I opened a ticket at DO.

When they get back to me, **what ports** will I need to tell them to open to let the AmazonSES adapter work properly?

At least, I think it's a firewall issue, per https://www.digitalocean.com/community/questions/digital-ocean-firewall-blockin

[2019-10-17 12:45] princemaple commented on #409
Hi, the SES adapter does not use any special port. It reaches aws via the http api. My suggestion is to check if there is any error in the log. It could turn out to be an easy configuration error.

[2019-10-17 18:56] sensiblearts commented on #409
Thank you! I thought that was the case originally, but when the mails started failing I stumbled on that thread about ports blocked at DigitalOcean.

Did not see any logged errors, but I'll figure it out.

[2019-10-17 18:56] #409 closed

[2019-10-21 06:54] ckruse commented on #181
I started using swoosh and stumbled upon this issue. It looks like the `{:data, binary}` code already exists:

[code]

And it works like a charm! 👍 Sadly the spec for `new/2` is wrong:

[code]

It has to be something like this:

[code]

[2019-10-21 13:03] maltoe opened #411 "TLS alert "unexpected message": Don't use STARTTLS with SSL :)"
Hello Swoosh devs,

we recently had a small 🤦‍♂ moment when we configured Swoosh to use the SMTP adapter with TLS on port 587. Note that our provider supports `STARTTLS`, but not SMTPS on port 587; which presumably is how it should be...

When you configure Swoosh like this

[code]

you get the following terrific error message from Erlang's [`ssl:connect/3`](http://erlang.org/doc/man/ssl.html#conn

[2019-10-21 13:28] princemaple commented on #411
Hi @maltoe, thanks for your friendly message! We are happy to know that it's helping people out there. ❤️

[2019-10-21 14:44] steffenix opened #412 "Mailgun support for templates"
To support mailgun templating, we should add `template`

Reference:
https://documentation.mailgun.com/en/latest/api-sending.html#sending

[2019-10-21 15:33] princemaple commented on #412
Hi @steffenix do you think you can send a PR for that? Should be something similar to this https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/mailgun.ex#L100-L110

[2019-10-21 15:34] princemaple commented on #181
Hi @ckruse , would you like to send a PR to correct that? 😃

[2019-10-21 17:44] steffenix commented on #412
Yes sure

[2019-10-21 17:56] ckruse commented on #181
@princemaple Of course! ✅done: #413

[2019-10-23 00:37] #412 closed

[2019-10-24 05:45] princemaple commented on #412
Thanks @steffenix it's out in 0.24

[2019-10-24 12:19] danielscosta opened #416 "Sendgrid Adapter"
On Sendgrid adapter, its present this code:

`defp prepare_body(email) do
    %{}
    |> prepare_from(email)
    |> prepare_personalizations(email)
    |> prepare_subject(email)
    |> prepare_content(email)
    |> prepare_attachments(email)
    |> prepare_reply_to(email)
    |> prepare_template_id(email)
    |> prepare_categories(email)
    |> prepare_asm(email)
    |> prepare_custom_headers(emai

[2019-10-24 12:24] princemaple commented on #416
does it error if you put an empty text body `""`?

[2019-10-24 12:53] danielscosta commented on #416
Yes, follow:

`{"field" => "content.0.value", "help" => "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.content.value", "message" => "The content value must be a string at least one character in length."}]}}`

In sendgrid documentation says:

The content param is required unless you are using a transactional template and have defined a template_ID.

You may not send an

[2019-10-24 13:12] princemaple commented on #416
OK, I have something in mind now. I'll show you some code change tomorrow. You will have to help me test, because I don't use sendgrid :)

[2019-10-24 23:14] princemaple commented on #416
Hi @danielscosta @mgiacomini

Just want to get some clarification. What happens when you send both `content` and `template_id` to the API? Does one of them get discarded? Which one does SendGrid actually use? Does it make sense to ever send both of them?

[2019-10-25 11:09] steffenix opened #417 "mailgun, string variables should not be jason encoded"
When using `prepare_custom_vars` a simple string should not be json encoded.

[2019-10-25 11:49] danielscosta commented on #416
`template_id` is ignored and SendGrid uses content sended. Not make sense send both because template_id refer a content storaged in SendGrid. SendGrid use both fields, but in different ways and on different requests.  If you app creates a text or html to send by email so you should use content field, but If your text or html was into SendGrid so you should send a template_id which refer him.

[2019-10-25 12:00] princemaple commented on #416
Gotcha, so the only problem we are trying to solve here is to allow empty content, correct?

[2019-10-25 12:07] #417 closed

[2019-10-25 12:09] danielscosta commented on #416
Yes.

[2019-10-25 12:12] steffenix commented on #417
Are you going to release a new version to hex.pm today?

[2019-10-25 12:19] princemaple commented on #417
Probably going to wait for #419 so maybe tomorrow. If that's fine with you?

[2019-10-25 13:23] steffenix commented on #417
yes

[2019-10-27 06:36] princemaple commented on #417
made a release for you

[2019-10-28 13:54] #416 closed

[2019-10-29 23:12] princemaple commented on #181
forgot to say thanks @ckruse

[2019-10-31 10:46] augnustin opened #422 "Feature: process html_body with an inliner tool"
Mail compatibility is hard.

But it can be greatly improved by setting inline styles. Some tool can automate this task:

[code]

Would there be a plan to integrate such tool in swoosh?

Haven't found an Elixir library unfortunately, but the JS one could be a source of inspiration https://www.npmjs.com/package/juice.

[2019-10-31 10:53] princemaple commented on #422
This can very well be a separate package, given its functionality scope. When there is something we can rely on, we can make it an optional integration, like `Plug`, to have `swoosh` do it automatically. I wouldn't implement it in `swoosh` directly.

[2019-10-31 10:54] augnustin opened #423 "Feature: accept markdown body to generate text and html versions"
Mailing is a lot about content. Hence this should be left editable to product teams.

As far as I am concerned, I built a system that isolate email contents in markdown format, which subsequently builds the html + text version where:
- HTML version is : HTML layout + markdown content compiled in HTML
- Text version is : raw markdown content

It works well, would be improved with an inliner tool (s

[2019-10-31 11:02] princemaple commented on #423
This is much like phoenix_swoosh, and #220, which we never got to finish, and I now think this shouldn't be part of swoosh itself anyway. It's on a different layer of abstraction, or simply a different functionality from what swoosh provides - **sending** email. Both this and #422 can together be a separate package, or even two separate packages, but we have markdown to handle translation already,

[2019-11-12 05:18] #422 closed

[2019-11-12 05:18] #423 closed

[2019-11-25 01:51] chungwong opened #424 "[Mailjet] get_message_id failed on messages with multiple recipients(TOs)"
For emails sending to multiple recipients
[code]

which Mailjet will return something like this
[code]
When [get_message_id/1](https://github.com/swoosh/swoosh/blob/v0.24.2/lib/swoosh/adapters/mailjet.ex#L49), it will throw `(FunctionClauseError) no function clause matching in Swoosh.Adapters.Mailjet.get_message_id/1`

`get_message_id/1` is expecting `To` to contain a list of one element only whil

[2019-11-25 03:10] princemaple commented on #424
we can add a clause to `get_message_id` to handle the multiple `to` situation, returning a list of message ids, and keeping it backwards compatible (as in single `to` still works the same way)

[2019-11-29 18:35] zorn opened #425 "Ran into error following README recommended use of `Task` while trying to also test."
I'm adding some email to my app and I got it working, even tested with swoosh. Thank you!

Then, because I'm not currently evaluating the mailer response I took the advice of the README and wrapped my internal private mailing function inside of a `Task.start` so I can send the HTTP response quicker and offload the email API call. This however broke my tests.

If we [look at](https://github.com/swo

[2019-11-29 21:53] princemaple commented on #425
Hi Mike, I'm currently traveling. Will be back next week. Will think about this thoroughly then.

Thanks for reporting!

[2019-11-29 21:58] princemaple commented on #425
Quick idea though, we can add a provider to the test adapter config, so that it sends the message to a target process, and default to self. Feel free to send a PR if this works. I'll be back on Tuesday Australia Eastern time.

[2019-11-29 22:04] princemaple commented on #425
See mailgun or other adapters about provider option.

[2019-12-02 22:13] #424 closed

[2019-12-02 22:55] princemaple commented on #425
Hi @zorn

I ended up using something that's added in Elixir 1.8 to minimize code changes for testing async email delivery. With #427, testing email delivery via `Task.async/start` or their supervised alternatives will simply just work.

[2019-12-02 23:16] princemaple commented on #424
Now it will return `{:ok, %{id: [...ids...]}}` when there are multiple `to`s
Still returning the singular id, i.e. not a list, when there is only one `to`.

Not great, but it's backwards compatible.

[2019-12-02 23:17] #425 closed

[2019-12-03 17:07] zorn commented on #425
Thanks so much for your help with this issue!

[2019-12-04 00:09] princemaple commented on #425
Hope it works well :)

[2020-01-20 01:43] jc00ke opened #430 "Sending email in LiveView process breaks tests"
I just upgraded to 0.24.3 and I'm now seeing this error when I run this tests with other tests with `mix test`. If I run it by itself, or just the tests in that one file, it passes.

[code]

[code]

[code]

I'm guessing the `pids/0` [function](https://github.com/swoosh/swoosh/commit/15b57f9df4443280016e5273ad96cb448a3a86c0#diff-8a2aba08d459118194bfeb9749c5e83aR30) is including the `LiveView` proce

[2020-01-20 02:13] princemaple commented on #430
Hi @jc00ke is `view` a process? The test would never have worked, would it? Before the linked change, TestAdapter only sent message to the process that called `deliver`. And the assertion would only have worked if `deliver` was called in the test process. After the change, the message can be received by the test process, where the assertion is called, but admittedly it's going to cause trouble in

[2020-01-20 03:06] jc00ke commented on #430
@princemaple previously I was using a custom adapter:

[code]
and in my tests, where necessary, I would do this:

[code]

[2020-01-20 03:12] princemaple commented on #430
That makes sense. I'll take another look soon.

[2020-01-20 03:46] princemaple commented on #430
Hi @jc00ke are you no longer using your custom TestAdapter? As far as I can tell, if not running integration tests in parallel, your custom adapter should just work.

[2020-01-20 07:01] jc00ke commented on #430
@princemaple I'm going to add it back for that one test, then I should be gtg until a more permanent solution emerges. Thanks!

[2020-01-20 07:34] princemaple commented on #430
Cool. I'll leave this one open and find some time to think of a better solution. I have some very weird ideas. 😉

[2020-01-20 20:57] princemaple commented on #430
Oh wow. I'm sorry this caused that much hassle.

[2020-01-20 20:59] princemaple commented on #430
My new ideas do require different adapters for unit test and integration test though. Still forming.

[2020-01-20 23:57] jc00ke commented on #430
@princemaple no worries! It's not a big deal to use a mock in this case. Not ideal... but what is? 😆

[2020-01-24 19:47] Kapeusz opened #432 "(KeyError) key :adapter not found in: [otp_app: :app_name]"
Hello! I just installed Swoosh and Pow, followed instructions on how to set up EmailConfirmation and PasswordReset. I'm getting the following exception:
`(KeyError) key :adapter not found in: [otp_app: :shop]`
when I'm trying to reset password/create a new account - anything about sending an email.

Does someone have any idea on what is causing this?

Here is full error screen.
[code]
I'll attach

[2020-01-24 20:31] princemaple commented on #432
Hi, I don't know Pow. If you are using swoosh, you need an adaptor. What is your email provider? And what does your mailer code look like?

[2020-01-27 23:08] princemaple commented on #430
What do you think about the idea that we have a different test adapter that instead of sending a message, blocks and tries to receive one. Blocking will be fine since it's intended to be used in processes. And a different assertion that instead of trying to receive a message, sends one to the process that's trying to send an email (hence blocking and trying to receive the message the assertion sen

[2020-01-29 21:46] Kapeusz commented on #432
My email provider is sendgrid.
pow_mailer.ex

[code]

config.exs
[code]
prod.exs
[code]

[2020-01-29 21:47] Kapeusz commented on #432
My email provider is sendgrid.
pow_mailer.ex

[code]

config.exs
[code]
prod.exs
[code]

[2020-01-29 22:03] princemaple commented on #432
The adapter is only configured for prod, it would be missing in dev. You should config it in config.exs and replace it in test.exs if desired.

[2020-01-29 22:04] princemaple commented on #432
Sorry, mis-click on phone. Didn't mean to close.

[2020-02-03 16:06] panmichal opened #436 "Feature: batch-send of messages (Mailjet)"
Some APIs for, for example Mailjet, support sending multiple messages with one request.

https://dev.mailjet.com/email/guides/send-api-v31/#send-a-basic-email - here, `Messages` is an array and the adapter just wraps single email struct in a list to conform with the API.
I could implement handling multiple messages but would like to know your opinion about how it should be handled:
- handling list

[2020-02-03 22:05] princemaple commented on #436
I vote for a separate function, so we can keep the current signature and have clear logic path. Please add an optional callback, deliver_many or batch_deliver, to Adapter and implement it in Mailjet Adapter.

[2020-02-04 13:46] panmichal commented on #436
Makes sense!
I'll work on a PR then.

[2020-02-04 13:48] princemaple commented on #436
Thanks! :star2:

[2020-02-06 21:41] jc00ke commented on #430
How would that work when tests are run asynchronously? Wouldn't the overall adapter have to be global?

[2020-02-08 21:09] #432 closed

[2020-02-09 03:38] princemaple commented on #430
https://github.com/swoosh/swoosh/pull/437 Please take a look at this PR

[2020-02-10 00:18] jc00ke commented on #430
@princemaple very cool! How do you choosing the adapter though? Seems like you can't swap it out globally (in `config/test.exs`, for example) w/o potentially affecting other tests. Maybe I'm missing something?

[2020-02-10 00:22] princemaple commented on #430
Yeah that's the problem. Still need some consideration. :) The PR is just PoC for now.

[2020-02-13 06:22] princemaple commented on #430
As a last resort, we can have integration tests run in a separate batch, like `mix test.integration` and have the adapter set to the AsyncTest.

[2020-02-13 18:19] jc00ke commented on #430
I'm wondering if all that ceremony is better than just passing a mock mailer around?

[2020-02-13 22:08] princemaple commented on #430
You are not wrong, at this stage a mock is probably as good. After all what is being tested is just that deliver is being called :sweat:

[2020-03-16 23:44] princemaple commented on #436
I forgot to make a release didn't I?

[2020-03-17 00:00] princemaple commented on #436
It's out in 0.25

[2020-03-17 00:00] #436 closed

[2020-03-17 00:00] princemaple commented on #436
Thanks for the contribution!

[2020-03-29 00:22] princemaple commented on #430
Closing as won't fix, unless we come up with stronger demands and better ideas 👀

[2020-03-29 00:22] #430 closed

[2020-03-29 00:27] princemaple commented on #236
hi @paveltyk saw your question while sweeping old issues. If you are still wondering, please take a look at https://github.com/swoosh/swoosh/issues/425

[2020-03-29 00:27] #236 closed

[2020-04-01 21:56] DavidOliver opened #449 "Mailgun: EU sending domain not currently supported"
When using an EU Mailgun sending domain, the endpoint hostname is required to be `api.eu.mailgun.net`.

The endpoint hostname in the adaptor is currently hardcoded as `api.mailgun.net` as a module attribute:

https://github.com/swoosh/swoosh/blob/23fee40fb8bf42f35afd980ce49e645f0b817e9b/lib/swoosh/adapters/mailgun.ex#L37

### References:

- [Mailgun API documentation](https://documentation.mailgun

[2020-04-01 22:15] princemaple commented on #449
It's configurable, the module attribute is just a default.

https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/mailgun.ex#L13-L17
https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/mailgun.ex#L62

[2020-04-01 22:15] #449 closed

[2020-04-01 22:17] DavidOliver commented on #449
Aha - great! Thanks for the pointers and sorry for the unnecessary issue.

[2020-04-01 22:21] princemaple commented on #449
No worries. Have a good day!

[2020-04-22 10:49] sadir opened #455 "Return email body from adapters"
Hi,

I have a use case where we use `Swoosh` to send an email via `Sendgrid`, but then we want to upload the fact that email has been sent into our CRM. They have an API to upload email activity.

This was fine before we used this library because the response from Sendgrid's API has the email that was sent in the `body`. We had built our own `Sendgrid.HTTPClient` and took the details of the email

[2020-04-22 12:22] princemaple commented on #455
That'd be before I started maintaining this repo. I think we can return more information. Essentially whatever the provider returns. Luckily we are returning a map, we can add the response to it without breaking the current API. Do you feel like putting up a PR?

[2020-04-24 10:41] sadir commented on #455
Yeah of course - I'll probably get to it next week at some point but 👍

[2020-04-24 11:11] princemaple commented on #455
Looking forward to that. Thanks!

[2020-04-24 13:19] sadir commented on #455
Draft PR up to fix this, early feedback welcome.

[2020-04-27 05:11] #118 closed

[2020-04-27 05:12] #160 closed

[2020-04-27 05:13] #110 closed

[2020-04-27 05:24] princemaple commented on #177
Looks like you just have to use smtp if you want more lower level control of the attachments. Leaving these to adapter contributors if they (1) do want this feature  (2) and wants to contribute (3) and the service provider does support it.

[2020-04-27 05:24] #177 closed

[2020-04-27 05:48] #124 closed

[2020-04-28 06:16] #455 closed

[2020-04-28 13:56] sadir opened #458 "Revert Sendgrid Adapter body response"
Hey @princemaple.

Really sorry but it looks like I broke your library!

Sendgrid actually don't respond with the message sent. Looking into it they just respond with an empty body.

I had read the docs on that and assumed their docs were incomplete because they don't document the message ID header that you already have in use from what I can see.

https://sendgrid.com/docs/API_Reference/api_v3.ht

[2020-04-28 14:01] princemaple commented on #458
We have real integration tests running on master + cron job. There might lack one for sendgrid, I did not know. I'll do the revert tomorrow. It's again mid night in my timezone :facepalm:

[2020-04-28 23:18] #458 closed

[2020-05-05 14:10] zorn opened #462 "Anyone else seeing large complie times?"
Not sure if this is repeatable (yet) but posting my notes for now. While I'm doing my phoenix updates today I'm noticing long build times, specifically with swoosh. 🤷

Elixir: 1.10.3
Phoenix: 1.5.1

[code]

[2020-05-05 14:19] zorn commented on #462
Seems like it was a fluke. Maybe caused my a typo in my config change update.

[2020-05-05 14:19] #462 closed

[2020-05-06 18:44] stefanchrobot opened #463 "Runtime configuration"
1. Is there a reason why the package suggests configuration via config files? See [Library guidelines](https://hexdocs.pm/elixir/library-guidelines.html#avoid-application-configuration). Seems like the same can be achieved via `use`.
2. Would you consider adding MFA as an option for API key or better yet, the whole config? See [Plug.Session.COOKIE :encryption_salt](https://hexdocs.pm/plug/Plug.Ses

[2020-05-06 23:15] princemaple commented on #463
Hi Stefan,

`use` does support adding whole config.

https://github.com/swoosh/swoosh/blob/master/lib/swoosh/mailer.ex#L72
https://github.com/swoosh/swoosh/blob/master/lib/swoosh/mailer.ex#L135-L148

[2020-05-07 04:04] princemaple commented on #463
https://hexdocs.pm/swoosh/0.25.4/Swoosh.Mailer.html

[2020-05-07 08:35] princemaple commented on #463
Hi Stefan, it does sound like can be a useful feature in some scenarios. I will definitely accept a PR like that. Feel free to add that change if you are keen about it! Closing this one for now.

[2020-05-07 08:35] #463 closed

[2020-05-10 07:31] iteron-yasir opened #465 "Mail preview, Base path attribute not setting in connection"
### List mail preview working properly. But viewing a particular email not working.
mix.exs
`{:swoosh, "~> 0.24"}`

dev.exs

[code]

router.ex
[code]

It seems base path, still "/". But it want to be "/api/mailbox" I put IO.inspect(conn) in MailboxPreview.to_absolute_url(conn, path)
[code]
And, In `MailboxPreview.call(conn, opts)` function opts attribute is getting `[ ]` empty list. From this list

[2020-05-10 12:31] princemaple commented on #465
I cannot reproduce this. Did you access the page via the path under the same port phoenix is using? Or accessing it via 4001?

[2020-05-10 12:36] princemaple commented on #465
![image](https://user-images.githubusercontent.com/1329716/81499388-995c2700-930e-11ea-9d65-e6c71cd66d3d.png)

[2020-05-10 13:27] iteron-yasir commented on #465
I was using port 4001 for mail preview,
[code]
I was using docker container for my application. I was not exposed 4001 port outside. From the nginx, I was listening to that API "/api/mailbox" and redirecting to that 4001 port.

When I start the `iex -S mix phx.server`. Mail preview server is starting.
`[info] Running Swoosh mailbox preview server with Cowboy using http on port 4001`

I'am getting

[2020-05-10 13:41] princemaple commented on #465
The 4001 port has no knowledge of the router, hence no base path. You should simply ignore the fact that this port exists, and hit the same origin the Phoenix app listens on, via the path, without having special nginx rewrites.

[2020-05-10 13:43] princemaple commented on #465
The port swoosh exposes is for non web apps, e.g. CLI app, to debug mail sending issues.

[2020-05-10 14:48] iteron-yasir commented on #465
@princemaple Thank you very much for the explanation. I got the point.

[2020-05-10 14:48] #465 closed

[2020-05-11 00:01] princemaple commented on #465
👍

[2020-06-03 08:02] sagarppatil commented on #61
👋 hello! I was thinking of picking this up (if this is still needed), but needed to understand what might work best!

1. Separate JSON endpoints
2. Same endpoints with headers specifying JSON/HTML response.

I prefer the second approach but wanted to understand if that would work for others as well...

cc @stevedomin @michalmuskala

[2020-06-03 08:27] princemaple commented on #61
Can still be good for integration test. Since it'd be a new feature, I'm OK with either way.

[2020-06-08 13:45] akaibukai opened #477 "Runtime accessible config for Gmail Adapter"
Hello,
[Here in the docs](https://hexdocs.pm/swoosh/Swoosh.Adapters.Gmail.html#module-required-config-parameters) you define an `:access_token` config parameter.
However in many cases the given OAuth access key is only valid for an hour or so.
How can we provide an updated access token in runtime?

Thank you.

[2020-06-08 13:47] princemaple commented on #477
Hi, it can be passed in through the second parameter of deliver function.

[2020-06-08 14:00] akaibukai commented on #477
Thanks.
I didn't see it's possible to set it within the deliver function.

[2020-06-08 14:00] #477 closed

[2020-06-10 18:40] IlyasM opened #478 "sslv3 issue in production"
Hi, everything works fine locally, but when I run on remote host in production I get the following:

{:error,
 {:options, {:sslv3, {:versions, [:"tlsv1.2", :"tlsv1.1", :tlsv1, :sslv3]}}}}

How to fix this?

[2020-06-10 22:47] princemaple commented on #478
Which provider? Are you on OTP23?

[2020-06-11 03:51] IlyasM commented on #478
Yes otp 23, elixir compiled on 21

[2020-06-11 04:08] princemaple commented on #478
This could be caused by your provider not doing their job, or OTP 23 removing old SSL encryption options. Try passing `[ssl_options: [versions: [:"tlsv1.2"]]]` as `hackney_options` in `%Email{}`'s private field.

[code]

If this doesn't work, you probably have to remind your provider to upgrade their infrastructure... Not very likely though, the OTP issue is a lot more likely and I've had it befor

[2020-06-11 04:13] IlyasM commented on #478
Thank you very much. This solved it.

[2020-06-11 04:14] #478 closed

[2020-06-11 04:57] princemaple commented on #478
Thanks for the confirmation!

[2020-07-04 11:46] #181 closed

[2020-07-04 11:47] #60 closed

[2020-07-04 11:58] #56 closed

[2020-07-11 00:30] yukster opened #488 "Multiple `assert_email_sent` calls in one test appears sometimes fails"
I have a test that exercises some code that can send multiple emails, getting those addresses from different sources. My test setup creates a situation where two emails will be sent, one from each source, and I have two calls to `assert_email_sent` to ensure that both cases got their email and it generally passes locally but fails in CI consistently.

I've put a `receive` block in the test as well

[2020-07-11 00:46] princemaple commented on #488
It'd be very helpful if you could post your test code.

Receive block does not automatically repeat. It simply receives one message. By receiving it, it consumes it in the message queue, so `assert_receive` in `assert_email_sent` will not be able to receive it.

[2020-07-11 01:07] yukster commented on #488
Wow, thanks for the fast reply! I'm not sure what test code I could post because it's just creating a few factory records, then calling the function that should result in the emails getting sent, then two calls to `assert_email_sent`. Not gonna mean much to ya. And it would be pretty onerous to try to copy and paste all the places in the code path that are required to follow the flow.

But yeah, I

[2020-07-11 01:13] princemaple commented on #488
This really shouldn't be an issue. Message sending is very fast, even on CI. Receive can cop with different orders of arrival of messages as well.

This could be a good idea. Use with start_supervised, etc, can be very powerful.

[2020-07-13 16:13] yukster commented on #488
Ok, I will try to look into trying to use the memory storage for tests. It would be really nice to be able to assert the number of emails sent, and the current assertions can't do that.

And maybe at some point I can dig through our CI set u and try to figure out why multiple assert_email_sent calls won't work... but I promise you they consistently do not.

[2020-07-13 23:15] princemaple commented on #488
Thanks.

I believe you. I just can't do anything if I don't see the code.

[2020-07-13 23:18] vadimshvetsov opened #489 "Avoiding setting `from` address as Gmail set it for me"
Hi.

As [Swoosh.Adapters.Gmail docs](https://hexdocs.pm/swoosh/Swoosh.Adapters.Gmail.html#content) says, I don't need to set `from` and it would be ignored if it wouldn't match account's one.

So this one returns an error:
[code]

My umbrella app config:
[code]

When I adding a `from` pipe it works:
[code]

What I'm doing wrong or maybe I should fix docs or code in some point?

[2020-07-13 23:27] princemaple commented on #489
Hi, Swoosh checks the presence of `from`. We could implement a compile time option to disable the check for Gmail adapter, or simply update the doc...

[2020-07-14 01:31] vadimshvetsov commented on #489
@princemaple I suggested am improvement from my point of view, thanks for answering me. I think making check only for Gmail adapter will add complexity.

I'm not sure if this thing could have entire issue but where I can fix encoding for subject and from texts? I'm getting this on my mail :/
![image](https://user-images.githubusercontent.com/16336572/87370142-d9e45500-c58a-11ea-87ed-780fddc1e719.p

[2020-07-14 01:37] princemaple commented on #489
What's your original text encoding? It would be very helpful if you could download the email and somehow share it with me.
![image](https://user-images.githubusercontent.com/1329716/87370510-724bfb00-c5c6-11ea-8429-2ee3bd30a46e.png)

[2020-07-14 01:38] princemaple commented on #489
Also please open a separate issue for the encoding problem for better tracking. Thanks!

[2020-07-14 01:39] princemaple commented on #489
And your code that sends this email will be very helpful as well.

[2020-07-14 01:56] #489 closed

[2020-07-14 21:19] vadimshvetsov opened #491 "Subject, from, to and others API's encoding problem"
As I mention in comment https://github.com/swoosh/swoosh/issues/489#issuecomment-657914196, I have a problem with `subject`, `from`, `to` and other API function encoding. When I type anything with Russian - it's turns in gibberish.

I have a template for my mail which works fine and Russian words encoded correctly. But `subject` and `from` is not.

![image](https://user-images.githubusercontent.co

[2020-07-14 23:12] vadimshvetsov commented on #491
I've moved to `Swoosh.Adapters.SMTP` and it works properly with subject, from and to encoding. I think would be more reliable and simple to stick with it.

[2020-07-14 23:12] #491 closed

[2020-07-15 01:13] princemaple commented on #491
Hey Vadim,

I'm glad you have found a reliable workaround. However, I'm just curious about if you were testing it on CMD or Powershell on Windows? I did some testing locally and it seems that the shell could be causing the problem. I'm pretty certain that I've tested Chinese with Swoosh before but not with Gmail Adapter, and I've always been using Docker.

If you could show me what you see when us

[2020-07-16 20:00] zorn commented on #488
One behavior that might be related that I did not expect, if you send two emails and then call `assert_email_sent` with like a `subject` check, it will only assert the first sent email subject line. If you try to assert the second email subject line it will fail. More so, once you assert the first email subject line if you try to do the assert again it fails.

Best I can tell, the test adapter wil

[2020-07-16 22:10] yukster commented on #488
@zorn: interesting! The two asserts in this test were for the same email copy but to different addresses. I did have the subject in the assert. I'm pretty sure, however, that while trying all sorts of things to fix the problem, I tried it with just the `email: foo` arg on both. And then there's the fact that the test passed locally but failed in CI. That's super-weird.

[2020-07-16 23:18] vadimshvetsov commented on #491
Hi Po! I've not tested this at Windows or Powershell, I've done it with OS X and Hyper terminal which supports various enconding. I think this problem related to [this issue](https://github.com/DockYard/elixir-mail/issues/78), because `Mail` supports set of certain encodings. That's why `Gmail` adapter works so with Russian characters. Also I can't see any reason to use it instead of SMTP because

[2020-07-16 23:43] princemaple commented on #491
That's most likely it. Thanks for tracking it down. Too bad `mail` has basically been abandoned now.

[2020-07-21 04:41] princemaple commented on #488
Test assertion when used in a way like `assert_email_sent subject: "Hello, Avengers!"`, it actually receives any arbitrary email then tries to match on the properties. That's probably the source of confusion in many cases. The reason is, AFAIK, you cannot dynamically build up a pattern.

It indeed seems now that a new test adapter that is a variation of the local adapter may be more suitable for b

[2020-07-23 00:48] AdamBrodzinski opened #493 "Support for Mailgun attributes"
Is there any way to add an attribute of `o:sending-ip` without forking? I see there is support for `o:tags` but this is a bit different. I'm trying to use this attribute to have Mailgun programmatically choose the IP to use based on other criteria.

[2020-07-23 01:10] princemaple commented on #493
This will require code change, so a fork is necessary, unfortunately.

[2020-07-23 01:22] AdamBrodzinski commented on #493
Ok thanks for the fast follow up! Would you be interested in a PR if I end up forking it?

[2020-07-23 01:22] #493 closed

[2020-07-23 01:24] princemaple commented on #493
Of course, PRs are always welcome.

[2020-07-23 06:04] princemaple commented on #493
#494 should work for your use case

[2020-07-23 06:22] princemaple commented on #493
I'd be great if you could test the branch and let me know whether it works as expected. I don't current use mailgun, so I'm not 100% sure.

[2020-07-23 16:30] AdamBrodzinski commented on #493
@princemaple Wow thanks so much for the fast addition there. Looking at the PR it looks like it should work, I'll try it out today or tomorrow and i'll keep you posted 👍

[2020-08-18 14:43] cysiegel opened #499 "Documentation not up to date for Gmail adapter"
Thank you very much for this great library

The documentation in the gmail adapter appears to be outdated (like the atom :system is not in use)
Also the mail dependency should be listed in the installation guide  (for if using the gmail adapter)

[2020-08-19 23:53] princemaple commented on #499
Hey, Gmail adapter seemed pretty OK to me. Anyway, I added explicit code chunk to show the addition of the `mail` dependency.

`{:system, "ENV_VAR"}` should work in all adapters, though.

[2020-08-19 23:55] #499 closed

[2020-08-19 23:55] princemaple commented on #499
Please show me some code if it's still not working for you.

[2020-08-24 15:49] Adzz opened #502 "deliver_many is not implemented for the test client"
Hello 👋

Thanks for the great lib.

I'm using Mailjet and luckily someone recently added `deliver_many` functionality for us. However, if you use it in your code having configured the test client in `test.exs` like so:

[code]

Running the tests produces:

[code]

[2020-08-24 23:18] #502 closed

[2020-08-25 12:26] That-David-Guy opened #505 "Clicking the 'Sign"

[2020-08-25 12:26] #505 closed

[2020-08-25 12:38] That-David-Guy opened #506 "Clicking the Sign In link via local adapter causes Beam.smp to max out my CPU"
Hi

Locally, the following happens:

1. Click sign in
2. fill out sign in form, e.g. test@test.com
3. go to `dev/mailbox`
4. click 'Open preview in separate tab`
5. Click 'Sign In'
6. I've sign in to my app, BUT I also notice that my CPU process 'beam.smp' jumps to 100+% and stays there.

I was expecting my CPU not to jump at all.

No other action on my site seems to cause a CPU spike.

**I'm not

[2020-08-25 12:39] That-David-Guy commented on #506
my bad, this was meant to be posted into the viel GitHub.

[2020-08-25 12:39] #506 closed

[2020-08-25 16:50] mszmurlo opened #507 "Swoosh.Adapters.Local.Storage.Memory issue in clustered environment"
Hi,

I've integrated Swoosh quickly to my app and I'm using it with SendGrid. Everything was fine until I started to get following messages once I'd added some nodes and formed a cluster:

[code]

Nodes are started with: `HTTP_PORT=4001 iex --name n1@127.0.0.1 --cookie 123 -S mix phx.server` and `HTTP_PORT=4002 iex --name n2@127.0.0.1 --cookie 123 -S mix phx.server` for the second and the error ar

[2020-08-25 20:45] princemaple commented on #507
Hi Maurycy,

It's a message that's safe to ignore.

However, if you want to get rid of it, add this config:

config :swoosh, local: false

[2020-08-26 08:23] #507 closed

[2020-08-26 08:23] princemaple commented on #507
Feel free to reopen if you have further questions

[2020-08-26 09:27] mszmurlo commented on #507
That's fine. Thanks for the feedback

⁣
---
mszmurlo@buguigny.org​

Le 26 août 2020 à 11:23, à 11:23, Po Chen <notifications@github.com> a écrit:

[2020-09-05 04:33] GildedHonour opened #510 "How to specify a text layout?"
How to specify a **text** layout for an email?

[2020-09-05 04:54] princemaple commented on #510
https://hexdocs.pm/phoenix_swoosh/Phoenix.Swoosh.html?#module-example
https://hexdocs.pm/phoenix_swoosh/Phoenix.Swoosh.html?#put_layout/2

just change `.html` to `.txt`, or use an atom if you want it to be picked up automatically.

[2020-09-06 12:06] #510 closed

[2020-10-08 14:29] zorn opened #523 "Add support for Postmark's new broadcast email stream option."
https://postmarkapp.com/videos/introducing-broadcast-message-streams

I've started work on this. You can check out my early progress here:

https://github.com/Guildflow/swoosh/commits/postmark-updates

Once I finish more testing I'll make a PR. I just wanted to post an issue here in case anyone is looking for these additions in the mean time.

[2020-10-08 21:55] princemaple commented on #523
Thanks. You can also send a draft PR, BTW.

[2020-10-08 22:06] princemaple commented on #523
Code on your branch looking promising!

[2020-10-09 02:50] princemaple opened #525 "Document various provider options"
Many provider options are hidden in code.

They need to be documented in the adapter module doc.

Helps are appreciated!

[2020-10-09 20:03] Schultzer opened #526 "Update gen_smtp to v1.0"
see https://hex.pm/packages/gen_smtp and https://github.com/gen-smtp/gen_smtp

[2020-10-09 23:27] #526 closed

[2020-10-12 22:25] #523 closed

[2020-10-21 00:24] byog-live-bot opened #535 "Test hello"

[2020-10-21 00:26] #535 closed

[2020-10-23 18:16] danielscosta opened #536 "Mailer with defoverridable"
[code]

It is possible?

[2020-10-23 20:00] princemaple commented on #536
There is no point doing this. You can simply define a different function that wraps `deliver`, call it `wrapped_deliver` or whatever. And use that function in your own codebase.

[2020-10-23 20:05] princemaple commented on #536
If you really like the name "deliver", you can name the module that contains "use" "DefaultMailer" and define a different module that defines your own "deliver" that does your extra things and call DefaultMailer.deliver when necessary.

[2020-10-24 03:32] #536 closed

[2020-10-26 10:13] tofran opened #537 "Make `from` optional"
Hello, thank you for the great work.

# Context:

We are creating an adapter for [Sendingblue](https://www.sendinblue.com/).
In Sendingblue if you do not specify `from` in the API request, it will delegate this to whats configured in the template editor (on their platform).

# Problem:

Currently `lib/swoosh/mailer.ex` prevents empty `from` addresses:

[code]

And we get the error: `{:error, :from

[2020-10-26 11:13] princemaple commented on #537
Instead of allowing empty `from`, I might expand the current implementation to accept atoms. And in your adapter code you could look for a specific atom that denotes the intention to use the configured value, and then ignore it.

[2020-10-26 15:14] tofran commented on #537
@princemaple this would involve a refactor in your API, right?
Meaning you would have to update existing adapters?

[2020-10-26 20:43] princemaple commented on #537
Not really. It would just be an addition. Existing adapters don't necessarily need to handle atom `from`. Most changes will be in email.ex, nailer.ex and format.ex

[2020-10-28 15:30] gmile commented on #411
Been getting a bunch of similar errors:

[code]

Removing `ssl: true` line but keeping `tls: :always` resolved the issue for me.

[2020-10-29 03:39] jsfuentes opened #540 "v1.0.7 compile error"
## Issue
Compile error for new version. I just downgraded back to v1.0.6, but wanted to flag the issue. Thanks

## System Details
On Elixir version 1.11.1

## Logs

[code]

[2020-10-29 03:53] princemaple commented on #540
Right, should've done conditional compilation. Apologies.

[2020-10-29 04:08] #540 closed

[2020-10-29 04:08] princemaple commented on #540
v1.0.8

[2020-11-24 21:04] gabrielrinaldi opened #552 "gen_smtp 1.0 does not seem to be working"
I tried to upgrade to the latest version of swoosh (1.1.1) and gen_smtp (1.0) and while it seems that swoosh now supports gen_smtp 1.0 I still get an error:
[code]

I know the breaking change on gen_smtp was switching from lists to maps, and I am not sure, but the issue might be on the `prepare_part` helper function.

Or of course, I am doing something wrong.

[2020-11-24 21:12] princemaple commented on #552
Hi, do you see anything about Swoosh in the stacktrace?
Could you try removing `_build` and recompile?

[2020-11-24 21:13] gabrielrinaldi commented on #552
@princemaple yes, the error is triggered from here:
`(swoosh 1.1.1) lib/swoosh/adapters/smtp.ex:46: Swoosh.Adapters.SMTP.deliver/2`

Removing `_build` does not change anything, unfortunately.

[2020-11-24 21:46] princemaple commented on #552
The parameter is conditionally compiled with the gen_smtp version.
https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/smtp/helpers.ex#L21-L29

I'm going to test with my gmail account...

[2020-11-24 22:08] gabrielrinaldi commented on #552
@princemaple the `@parameter` is working, I get version 1 and `%{}`, the issue seem to be when preparing the part: https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/smtp/helpers.ex#L134-L148

I think the part might be in the wrong format, but not sure. At least the error happens with those values.

[2020-11-24 22:13] princemaple commented on #552
Yep that's what I was trying to figure out. I don't normally use SMTP, it's a little troublesome for me to test right now, but working on it.

[2020-11-24 22:36] princemaple commented on #552
I managed to send an email via SMTP using latest Swoosh and latest gen_smtp.

[2020-11-24 22:37] princemaple commented on #552
I will test something different now. Could be something about multipart.

[2020-11-24 22:48] gabrielrinaldi commented on #552
Yes, that makes sense, I am sending a multipart email. Thanks a lot for looking into it.

[2020-11-24 22:58] princemaple commented on #552
Indeed breaks multipart. Well. I hope I can fix it. I'm not smtp expert.

[2020-11-25 01:12] #552 closed

[2020-11-25 01:21] princemaple commented on #552
Give 1.1.2 a go.

[2020-11-25 01:31] gabrielrinaldi commented on #552
@princemaple perfect, thank you so much for fixing this so fast!

[2020-11-29 11:56] princemaple commented on #537
Let me know if you need any help.

[2020-12-09 11:23] princemaple opened #556 "Breaking TODOs"
For v2, which is too far in the future

- [ ] Reduce unnecessary code injection like #554

[2021-01-09 23:09] zorn opened #560 "Swoosh.TestAssertions do not account for deliver_many."
Working in my own side project today I was trying to use `assert_email_sent` after a `deliver_many` call. I don't think this is working. Might be doing it wrong. Not sure. My current test is something like this:

[code]

And the failure is a bad match:

<img width="1904" alt="Screen Shot 2021-01-09 at 6 04 11 PM" src="https://user-images.githubusercontent.com/52168/104110424-6efba880-52a5-11eb-9e5

[2021-01-10 00:08] princemaple commented on #560
Right. Currently `Swoosh.TestAssertions` is not equipped with the necessary tools to deal with `deliver_many`. As a workaround you can just go `assert_receive` until something like `assert_emails_sent` is added. Note, `deliver_many` will not behave like multiple calls to `deliver`, it is meant to be different.

[2021-01-17 04:20] #537 closed

[2021-01-17 04:29] princemaple commented on #537
Thanks for the contribution @tofran . The new adapter is released in v1.2.0. The task to remove enforced `from` field is tracked in #556 as a future breaking change.

[2021-01-21 20:47] #61 closed

[2021-01-22 00:20] tofran commented on #537
Very good point, Sendinblue actually rejects empty subject:

[code]

So case closed, theres no problem with the current implementation

[2021-01-22 00:24] princemaple commented on #537
@tofran thanks for the confirmation!

[2021-01-23 12:25] #66 closed

[2021-02-03 14:15] LostKobrakai opened #569 "Use conn.script_name for MailboxPreview"
Currently one needs to set `base_path` manually for the preview plug to create proper links. But `conn.script_name` does already hold the necessary information.

[2021-02-04 09:42] #569 closed

[2021-02-22 15:23] stefanchrobot opened #573 "Asserting on provider options in tests"
We're sending emails like so:
[code]

There's currently no way to assert the provider options which means that we can't really assert on the content of the emails.

I think this could be solved either by:
- Adding matcher for `:provider_option` to [`assert_email_received`](https://github.com/swoosh/swoosh/blob/main/lib/swoosh/test_assertions.ex#L93), or
- Adding support for passing a function:
[co

[2021-02-22 21:13] princemaple commented on #573
I think the second option is more flexible and future-proof. Would you like to send a PR?

[2021-03-03 22:02] #573 closed

[2021-03-08 21:42] aselder opened #578 "Swoosh breaking for major version detection for gen_smtp 1.1.1"
Today we updated to gen_smtp version 1.1.1 and started getting errors like:

`(BadMapError expected a map, got: [])`

stack trace:
[code]

It looks like a change in gen_stmp broke the major version detection in Swoosh. See https://github.com/gen-smtp/gen_smtp/compare/1.1.0...1.1.1

It looks like they renamed the application from `gen_smtp_application` to `application`, which swoosh was relying on.

[2021-03-08 21:46] princemaple commented on #578
Thanks for the helpful information.

[2021-03-08 22:01] princemaple commented on #578
Fixed in 1.3.4

[2021-03-08 22:01] #578 closed

[2021-03-19 23:50] paulstatezny commented on #430
Bummer this is a `wontfix`. I'm having this problem, and the increasing amount of people using LiveView will too.

[2021-03-20 00:26] princemaple commented on #430
https://github.com/swoosh/swoosh/pull/565/files

Give this a go.

[2021-03-20 22:39] princemaple commented on #430
https://github.com/swoosh/swoosh/blob/main/CHANGELOG.md#-features-3

[2021-03-21 04:12] paulstatezny commented on #430
Thanks @princemaple 😄 Looks like it was fixed, just not commented here. Thanks for all your work on Swoosh ❤️

[2021-03-21 05:36] princemaple commented on #430
😃

[2021-03-25 01:34] reichert621 opened #585 "Set custom headers in Gmail adapter"
Is it possible to set custom headers in the Gmail adapter?

I'm trying to set the `"References"` and `"In-Reply-To"` in order to send messages as replies to threads (https://developers.google.com/gmail/api/guides/sending). Am I approaching this wrong?

[2021-03-25 01:35] princemaple commented on #585
If you could leave a link to the docs or even send a PR, it'd be greatly appreciate. Cheers.

[2021-03-25 01:37] reichert621 commented on #585
hey @princemaple! before I dig into it I just wanted to double check that I'm thinking about this correctly... I'm just trying to send a message as a reply to an existing thread. am I right in thinking I just need to figure out a way for these headers to be passed though?

[2021-03-25 01:39] princemaple commented on #585
Hi @reichert621 I'm not familiar with Gmail API, or how to send a reply to a thread. Maybe @mpran (who contributed the gmail adapter) can chime in?

[2021-03-25 01:45] princemaple commented on #585
If it's only a matter of setting headers, should be easy to find out 😄

[2021-03-25 02:03] reichert621 commented on #585
I hope it's that simple! I'll wait for @mpran to chime in, but otherwise I can look into it tomorrow :+1:

[2021-03-29 17:15] xward opened #586 "Sending cause error on certificate (unknown_ca)"
when calling `deliver(swoosh_email)` :
[code]
It appends right after a new deploy, was working fine before.

Is it a problem from hackney certificate became obsolete ? How should I fix this right ?

Thanks a lot !

[2021-03-29 17:34] xward commented on #586
I "fixed" it with this patch:
[code]

And in my Dockerfile I added:
[code]

The elixir Swoosh config part I did was quite dirty, how to make it sweet ? :)

[2021-03-29 21:13] princemaple commented on #586
Hi, this happened to me once. I simply redeployed and it seemed to be "fixed". I'm not exactly sure what happened.

I guess maybe I should switch from hackney to Finch.

[2021-03-30 01:25] reichert621 commented on #585
@princemaple I gave it a shot in this PR, but so far no luck with the replies... does anything look off in the code to you? https://github.com/swoosh/swoosh/pull/587

[2021-03-30 01:33] princemaple commented on #585
There is a chance that the suffix of your subject needs to match the original subject. Just guessing...

[2021-03-30 23:49] princemaple commented on #586
So short answer is you may not need to do what you did.

Longer answer is I don't know what really happened. Long term speaking it might be safer to base the http client on a `mint` based library, which `finch` is one, that would use CA information from the `castore` package. I might make a switch at some point.

[2021-04-11 05:34] APB9785 commented on #334
I'm having the exact same issue, but the module name is definitely not wrong.
[code]

[code]

[2021-04-11 05:43] APB9785 commented on #334
I was able to workaround by editing
[code]

[2021-04-11 05:55] princemaple commented on #334
If you are sure all the spelling is correct, please report a new issue.
Relevant code is at https://github.com/swoosh/swoosh/blob/main/lib/swoosh/mailer.ex#L135-L148

[2021-04-11 06:27] APB9785 opened #590 "(KeyError) key :adapter not found in: [otp_app: :my_app]"
I just did a fresh install of Swoosh
[code]
[code]
[code]
But when calling MyApp.Mailer.deliver/2 I received the error
[code]
I was able to workaround by editing
[code]

[2021-04-11 06:31] APB9785 commented on #590
After the workaround, emails were sent out, so api_key and secret must be loading OK from config.exs.  I don't know why the adapter is not also loading...

[2021-04-11 06:55] princemaple commented on #590
Could you setup a minimal reproducible repo? It doesn't look right to me.
[code]
I suspect that you missed a recompile somewhere.

[2021-04-11 07:02] APB9785 commented on #590
You must be right, because when I revert back to the pre-workaround code I showed in the OP, it is still working.

[2021-04-11 07:02] #590 closed

[2021-04-11 07:12] princemaple commented on #590
Thanks for the confirmation!

[2021-04-11 07:13] princemaple commented on #334
https://github.com/swoosh/swoosh/issues/590

[2021-04-17 22:33] psantos10 commented on #152
Had the same problem... and the solution was to remove the email option.

Thanks @yordis

[2021-04-24 08:39] #585 closed

[2021-04-24 08:40] princemaple commented on #585
Correctly setting the custom headers, but I can't get the reply to show up in a thread either.

[2021-04-24 20:32] reichert621 commented on #585
yeah, i discovered that the gmail `thread_id` also needs to be passed through in the request in order for this to work 🤷

[2021-05-03 03:08] derek-zhou opened #592 "Why OTP 22+"
The Swoosh document states that it required OTP22+. However, all the Erlang deps such as `:gen_smtp` and `:hackney` works in OTP 21. And my limited testing (with SMTP) seems to indicate it works with OTP 21. So what is supposed _not_ to work in OTP 21?

[2021-05-03 03:19] princemaple commented on #592
¯\_(ツ)_/¯ it's a documentation error. so 21 is actually supported as of now. (it's in the CI matrix)
however, it's probably not worth changing it now given how close OTP 24 is around the corner.
We normally support 3 OTP versions as 4 Elixir versions.

[2021-05-03 11:47] derek-zhou commented on #592
got it, thanks

[2021-05-03 11:49] #592 closed

[2021-05-05 09:22] ckruse opened #593 "501 Syntax error - line too long when using SMTP adapter"
Hi there,

I am sending mails with the swoosh SMTP adapter for ages. Today I noticed that I could not send a HTML mail with a data URI image. The line is very long, and I get this error from the SMTP server: `501 Syntax error - line too long`. I guess this is because lines may only be 998 characters long.

This looks like a bug to me? I don't think that a library user should care about the transpo

[2021-05-05 09:44] princemaple commented on #593
Could you use an inline attachment?

[2021-05-05 09:48] ckruse commented on #593
Maybe, I am working on that as a workaround

[2021-05-05 09:59] princemaple commented on #593
BTW, I don't consider it a bug in Swoosh, because in order to mitigate this problem, Swoosh would have to understand HTML. Swoosh obviously has nothing to do with HTML parsing.

[2021-05-05 10:04] ckruse commented on #593
Well, one could argue that quoted-printable or 7bit are simply not the right transfer encodings when a mail has lines longer than 998 characters. Maybe swoosh should choose base64 in this case?

[2021-05-05 10:04] ckruse commented on #593
By the way, using an inline image works as a workaround

[2021-05-05 10:08] princemaple commented on #593
Thanks. Glad to know.

Could you open a separate feature request for this one, so maybe someone will look into it and submit a PR?

[2021-05-05 11:08] ckruse opened #594 "Switch to base64 transfer encoding when mail contains lines longer than 998 characters"
SMTP only allows lines with a max length of 998 characters. When one of the mail parts contains lines longer than 998 characters, the transfer encoding should automatically be switched to base64 to avoid MTAs rejecting the mail.

See also #593

[2021-05-05 11:08] ckruse commented on #593
Done

[2021-05-05 11:08] #593 closed

[2021-05-05 11:09] princemaple commented on #593
Thank you!

[2021-05-07 01:33] princemaple commented on #586
Are you on Mailjet? Someone on Slack pinged me saying they have this issue.

[2021-05-07 21:51] princemaple commented on #586
![Screenshot_20210508-074840](https://user-images.githubusercontent.com/1329716/117512005-1b3e6900-afd2-11eb-915b-5048c6fa7b75.png)

[2021-05-07 21:51] #586 closed

[2021-05-12 06:13] peter-de-boer opened #596 "warning: Mail.Message.put_header/3 is undefined"
I have just started working with swoosh. I have added swoosh and gen_smtp to the dependencies.
When I run `mix compile`, I get this warning:

[code]

[2021-05-12 06:30] princemaple commented on #596
For gmail https://hex.pm/packages/mail is also required.

[2021-05-12 06:33] peter-de-boer commented on #596
Thanks for the info. Then it is just a bit annoying warning, as I am currently not using gmail.

[2021-05-12 06:52] princemaple commented on #596
I'll look into it

On Wed, 12 May 2021, 16:34 Peter de Boer, ***@***.***> wrote:

[2021-05-12 09:15] princemaple commented on #596
What version are you on? We have [this](https://github.com/swoosh/swoosh/blob/main/mix.exs#L30-L42) in mix.exs, which suppresses warnings. There shouldn't be warnings when compiling swoosh, even if some modules don't exist.

[2021-05-12 09:18] princemaple commented on #596
You can see in my one of my own projects

[code]

I don't have `:mail` either.

[2021-05-12 09:19] princemaple commented on #596
Actually, I think it was introduced by a recent feature addition. https://github.com/swoosh/swoosh/pull/587

[2021-05-12 09:22] #596 closed

[2021-05-12 09:28] princemaple commented on #596
Should be good now in 1.3.6
Thanks for the report!

[2021-05-12 09:34] peter-de-boer commented on #596
Thanks to you, for the quick support!

[2021-05-12 11:25] peter-de-boer opened #598 "compilation with newest version fails"
Using swoosh version 1.3.6.
`mix compile` gives:

[code]

[2021-05-12 11:26] princemaple commented on #598
That's my bad.

[2021-05-12 11:27] princemaple commented on #598
The release included something wasn't ready.

[2021-05-12 11:34] #598 closed

[2021-05-12 11:35] princemaple commented on #598
I've compiled 1.3.7 in a test project.
Please give 1.3.7 a go. My Apologies.

[2021-05-12 11:39] peter-de-boer commented on #598
It compile now. Thanks!

[2021-05-17 16:46] lucacorti opened #602 "Lastest version (1.3.8) breaks AWS SES"
Hi,

this change in the lastest release breaks SES:

[code]

as you can see from the output below `:sha256` should be used, not `:sha3_256`

[code]

[2021-05-17 22:36] #602 closed

[2021-05-19 00:52] chungwong opened #604 ":eaddrinuse when setting config :swoosh, serve_mailbox: true"
[code]

Using `config :swoosh, serve_mailbox: true, preview_port: 4001` I did not encounter any problem at all.
[code]
However, when I tried `config :swoosh, serve_mailbox: true`, I got a strange error
[code]

If I understand the comment correctly `# to run the preview server together as part of your app`, the preview server can be run together(same port) with my phoenix app. Am I right?

[2021-05-19 01:00] princemaple commented on #604
In a plug/phoenix app use this:

[code]

[2021-05-19 01:01] princemaple commented on #604
`# to run the preview server together as part of your app`
means any app, not necessarily a plug/phoenix app, hence may not have a web interface

[2021-05-19 01:04] princemaple commented on #604
I've updated the docs

[2021-05-19 01:04] #604 closed

[2021-05-19 01:22] chungwong commented on #604
Now I get it, I was putting everything (the config and the forward) into the app.

For anyone having a similar problem:
1. You don't need to put `config :swoosh, serve_mailbox: true` in your config.
2. You would only need to put the following in your `router.ex`
[code]

[2021-06-27 04:00] awwong1 commented on #344
Hi @tv4-infrastruktur , I am running into this exact same issue and I was wondering what your approach to fixing this was.

[code]
[code]

[2021-07-02 16:15] philss opened #609 "Shouldn't we skip ApiClient init if the adapter is not using it?"
Hi there :wave:
First of all, thank you for this awesome library! :smiley:

I'm trying to use it in _dev_ and test environments where I don't need the `ApiClient`. But it seems that I ways need to declare `Hackney` (or `Finch`) as dependencies because the `ApiClient` needs it, and the `ApiClient` is being initialized at application boot.

So my question is if we can avoid the _init_ of `ApiClient`

[2021-07-02 18:10] princemaple commented on #609
I guess we should add a Noop API Client that simply OK on init. Do you want to add one?

[2021-07-02 18:13] philss commented on #609
@princemaple thanks for the quick response! I can do that. :+1:
The idea is to use this Noop as the default API Client instead of Hackney?

[2021-07-02 18:18] princemaple commented on #609
It'd be a breaking change, so not really. We'd document it that if absolutely no hackney exists and init is causing trouble, config to use Noop API Client.

[2021-07-02 18:23] philss commented on #609
Got it. I managed to get this working by setting `config :swoosh, :api_client, false`. Maybe just document this instead of adding a new Noop module is enough. WDYT?

[2021-07-06 05:49] #609 closed

[2021-07-06 10:43] treeman commented on #430
Just ran into this, and `setup :set_swoosh_global` fixed it for me. Thanks!

[2021-07-16 14:31] behe commented on #344
@awwong1 Sorry for late reply, and I hope that you have fixed your issue by now.

I think the problem we had above was that the AWS user associated with the credentials we used did not have the correct access rights to send mail using SES on AWS.

[2021-07-16 15:42] awwong1 commented on #344
@behe Nothing to apologize for! I am grateful for the response.

Currently I am just using the `Swoosh.Adapters.SMTP` adapter. This isn't a blocking issue, but it [would be nice to use the more specific adapter instead of SMTP](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/troubleshoot-throughput-problems.html).

I'm not sure that this is an AWS credentials problem, as using the SMTP adapt

[2021-07-24 15:20] joshnuss opened #613 "Telemetry events"
Hi,

Thanks for created this useful library.

Would you be interested in adding `telemetry` events?
I think it would be useful for folks that want to have a dashboard for to track their emails.

# Example

Attach a telemetry handler for sent email:

[code]

Then in the handler, push the event to StatsD, DataDog, Appsignal etc..

[code]

If it's something you're interested in, LMK, and I'll open a

[2021-07-24 22:11] princemaple commented on #613
Hi @joshnuss ,

Yes. Some telemetry can be interesting. Especially for the people who use a provider that doesn't have it already.

Thanks!

[2021-07-26 03:52] #613 closed

[2021-09-11 03:06] kianmeng commented on #525
@princemaple Something like `Swoosh.Adapters.Postmark` (shown below) for other adapters or we need even more elaboration for each options?

[code]

[2021-09-11 03:17] princemaple commented on #525
@kianmeng similar list would suffice for visibility. Most users of their respective adapter would already know what they are for. Plus all adapters have their provider doc linked.

[2021-11-15 10:51] odarriba opened #636 "Better deliver_many documentation"
**Version: 1.5.1**

## Description

I'm getting an error when trying to call `deliver_many` with Sendgrid adapter in Swoosh. I'm one version behind latest release, but it looks like it happens also on main branch.

What do you think about having a fallback if no `deliver_many` implementation is there or  a note about this on the documentation of the `Swoosh.Mailer.deliver_many`? I know it is docum

[2021-11-15 11:19] princemaple commented on #636
PRs are always welcome!

[2021-11-30 22:08] kianmeng commented on #525
TODO:

- [ ] AmazonSES - https://github.com/swoosh/swoosh/pull/638
- [ ] Dyn
- [ ] Gmail
- [ ] Local
- [ ] Logger
- [ ] Mailgun
- [ ] Mailjet
- [ ] Mandrill
- [ ] Postmark
- [ ] Sendgrid
- [ ] SendInBlue
- [ ] Sendmail
- [ ] SMTP
- [ ] SocketLabs
- [ ] Sparkpost
- [ ] Test

[2021-12-11 01:05] kianmeng commented on #525
@princemaple Are they any adapters currently missing? If not, then we can close this ticket.

[2021-12-11 01:33] princemaple commented on #525
Thank you very much for your PRs :)

[2021-12-11 01:33] #525 closed

[2021-12-11 20:20] SamuelMTDavies opened #648 "Can't configure AWS or SMTP Adapters to send emails."
I am new to Elixir and Pheonix and have set up a new application and added in Pheonix Auth. I am trying to send emails via AWS SES with via SMTP or the API. I have got the Local Adapter working but nothing I have done to try and send real emails has worked.

I have tried using Finch and Hackney but to no avail. I am sending the email to and from the AWS SES verified email address as it's still in

[2021-12-11 20:28] princemaple commented on #648
Hi, can we at least have some logs? Maybe the return value of `Mailer.deliver` as well.

[2021-12-11 20:32] SamuelMTDavies commented on #648
I'd be happy to. but when I'm running this using mix phx.server there are just logs relating to the DB and Controllers.

Are there any more specific commands I can run to get you a more detailed log? or the return value you are after? I'm afraid as a complete newbie to Elixir and Pheonix I need a little hand-holding and pointing in the right direction as I don't know how to give you what you're as

[2021-12-11 20:35] princemaple commented on #648
Pipe your deliver call into `|> IO.inspect(label: "Mail")`

[2021-12-11 22:00] SamuelMTDavies commented on #648
`Mail: {:ok,
 %Swoosh.Email{
   assigns: %{},
   attachments: [],
   bcc: [],
   cc: [],
   from: {"ME", "me@myemail.com"},
   headers: %{},
   html_body: nil,
   private: %{},
   provider_options: %{},
   reply_to: nil,
   subject: "Confirmation instructions",
   text_body: "\n==============================\n\nHi me@myemail.com,\n\nYou can confirm your account by visiting the URL below:\n\nhttp:/

[2021-12-11 22:40] princemaple commented on #648
This doesn't look right. None of `SMTP`, `AmazonSES` or `Local` return this type. Can I see your code?

[2021-12-12 10:00] SamuelMTDavies commented on #648
You can see the code on this repo

https://github.com/SamuelMTDavies/pheonix

the deliver email call is in lib/uown/accounts/user_notifier

Thanks for all the help and how quick you are its much appreciated.

[2021-12-12 10:21] princemaple commented on #648
[code]

Change this chunk to the above and you will see the error.
https://github.com/SamuelMTDavies/pheonix/blob/main/lib/uown/accounts/user_notifier.ex#L16-L19

[2021-12-12 10:23] princemaple commented on #648
You can also add `{:ok, _} = ` to the front of this line

[2021-12-12 10:26] princemaple commented on #648
The 2 ways mentioned above are just for you to see the error.

How to properly handle the error, though, you will need to get more familiar with Elixir and Phoenix to figure out. It depends on how you want your app to behave, so I can't tell you what's the best way.

[2021-12-12 11:13] SamuelMTDavies commented on #648
Ok thanks I will try that when I get back to my laptop.

I need to try and understand it all better because both lines you referenced are generated by mix phx.gen.auth so I had assumed that it would follow good general best practice for Pheonix.

[2021-12-12 11:24] princemaple commented on #648
Generated code isn't supposed to be the final code. It's just a template.

[2021-12-12 11:44] SamuelMTDavies commented on #648
I understand but I haven't seen any mention or signposting as to what parts they expect you to customise at least in relation to the emails. Once I've done your suggested changes I will see what error(s) I hit.

[2021-12-13 06:06] princemaple opened #649 "Test"
### Describe the bug

something is wrong

### Steps to Reproduce the Bug or Issue

yep it's wrong

### Expected behavior

_No response_

### Your reproducible example

_No response_

### Screenshots or Videos

_No response_

### Platform

- OTP:
- Elixir:

### Additional context

_No response_

[2021-12-13 06:06] #649 closed

[2021-12-13 12:58] SamuelMTDavies commented on #648
I get the following:
![Screenshot 2021-12-13 at 12 50 49](https://user-images.githubusercontent.com/10135240/145815737-c4aa8211-cdc1-4ce9-bf36-c73f4a942784.png)

`Mailer.deliver!(email)`

`Change this chunk to the above and you will see the error. https://github.com/SamuelMTDavies/pheonix/blob/main/lib/uown/accounts/user_notifier.ex#L16-L19`

Same issue if I make this change. I have been trying to

[2021-12-13 14:13] SamuelMTDavies commented on #648
So i've been playing around a lot and i think I found that my config was being overwritten and the syntax was slightly wrong.

![Screenshot 2021-12-13 at 14 06 49](https://user-images.githubusercontent.com/10135240/145827539-368149f7-b058-4a2a-970d-986b4ffeb519.png)

I am now getting this error - is swoosh not set up to deliver messages in the dev environment? Just wondering why the false prefix i

[2021-12-13 20:33] princemaple commented on #648
You haven't run `mix deps.get` after you added `hackney/finch` to your deps.

[2021-12-13 21:21] SamuelMTDavies commented on #648
I had definitely run it and I've deleted the _build folder and run mix phx.server from scratch.

I keep alternating between these two errors as I play with the config. Im at the point of removing everything related to swoosh, gen_smtp, Hackney and finch and trying again from scratch.

[2021-12-13 21:36] princemaple commented on #648
OK you probably just haven't committed your code since. Your repo suggests that `mix deps.get` hasn't been run, but it's 2 days old.

In your config there is `config :swoosh, :api_client, false`. Remove [this line](https://github.com/SamuelMTDavies/pheonix/blob/main/config/config.exs#L30). This should resolve the issue.

[2021-12-13 21:36] #648 closed

[2021-12-13 21:38] princemaple commented on #648
Oh actually more issues with your config.

in `prod.exs`

[code]

Is totally wrong.

Remove `:api_client, Swoosh.ApiClient.Finch`

Leave

[code]

[2021-12-13 21:39] princemaple commented on #648
The one in your `dev.exs` is correct.

[code]

[2021-12-13 22:04] SamuelMTDavies commented on #648
Yeah this is what I have been suspecting. That I have conflicting config that is maybe intefering with one another.

I will re commit where I get to. Hopefully I strike upon the right settings and don't have anything surplus to what I am after.

[2021-12-13 22:18] princemaple commented on #648
Yup, good luck.

[2021-12-17 12:34] Zat42 opened #653 "function false.post/4 is undefined"
### Describe the bug

I used `mix phx.gen.auth` to generate my users' logic. After setting up `Swoosh` with `Mailgun` adapter, when I try to register a new user, I get this error:
[code]

[code]

### Steps to Reproduce the Bug or Issue

**lib/sample_app/accounts/user_notifier.ex :**
[code]

**lib/sample_app/mailer.ex :**
[code]

**config/config.exs :**
[code]

**Env:**
[code]

### Expected behavio

[2021-12-17 12:38] princemaple commented on #653
Hi, please install finch and remove the line about api_client: false in generated config.

[2021-12-17 13:11] Zat42 commented on #653
Thanks for your help.

Since I never used `Swoosh` / `Finch` before, I am not sure how configure this.

Beside updating `config/config.exs` :
[code]

And adding `{:finch, "~> 0.10"},` to `deps`, is there any things that I am missing?

Not sure how to follow documentation about "starting `Finch`" with `Phoenix`?

[2021-12-17 14:12] #653 closed

[2021-12-17 18:48] princemaple commented on #653
Glad you figured it out! Feel free to ask questions if you get stuck again.

[2022-01-03 11:06] CGenie commented on #578
I'm using swoosh 1.5.2 and getting the same error as in the description of the ticket with the simple code:
[code]

[2022-01-03 11:48] princemaple commented on #578
@CGenie try deleting the `_build` folder and recompile everything.

[2022-01-03 11:58] CGenie commented on #578
Ah ok seems to work, thank you!

[2022-01-04 21:02] taobojlen opened #656 "Add OhMySMTP adapter"
It'd be great if Swoosh included an adapter for [OhMySMTP](https://ohmysmtp.com/), a green and privacy-focused transactional email provider.

I've written a basic adapter for this in my own app. Would there be interest in adding this to Swoosh? If so, I'm happy to open a PR.

[2022-01-04 21:09] princemaple commented on #656
Yeah looks like a good service provider, feel free to send a PR.

[2022-01-07 09:47] pankaj-ag opened #657 "Option to set default sender for all the mails."
### Describe the bug

It's not a bug though. I just want to check if there is a way to set the default sender in the config or mailer?
I looked at the docs but could not find that yet.

### Steps to Reproduce the Bug or Issue

Not Applicable

### Expected behavior

Not Applicable

### Your reproducible example

_No response_

### Screenshots or Videos

Not Applicable

### Platform

- OTP:
- Elixir

[2022-01-07 09:53] princemaple commented on #657
Hi, you can add a function to your Mailer module or any module of your choice.

[code]

And use this function instead of `new()` from `Swoosh.Email` to start building your email.

[2022-01-07 09:56] pankaj-ag commented on #657
Got it thanks.

[2022-01-07 09:56] #657 closed

[2022-01-09 14:44] taobojlen commented on #656
Okay, thanks! I'll work on this over the next few weeks then.

[2022-01-09 21:11] taobojlen opened #658 "Allow using custom CIDs for inline attachments"
**Is your feature request related to a problem? Please describe.**

The docs state that:

There appears to be no way to override this. However, you might want to attach multiple files with the same name, or you might not be in control of the email's HTML where CIDs are already defined.

**Describe the solution you'd like**
You could do something like `Swoosh.Attachment.new({:data, attachment_data}

[2022-01-10 21:30] princemaple commented on #658
Hi, which adapter do you use? `cid` is currently only relevant in PostMark.

[2022-01-12 10:41] princemaple commented on #658
ping

[2022-01-12 18:38] rafa-dyad opened #662 "Swoosh.Adapters.Test is not working with Wallaby"
Hi!
I'm struggling to get Swoosh.Adapters.Test to work on our project. The most important thing about my test I can think of is that it is triggering the mailer via a web request run by wallaby. The code is working ok, the mailer is working, and I verified that the test adapter is correctly setup by modifying its code and adding an inspect call to the deliver function.

So I know the test adapter

[2022-01-12 20:47] princemaple commented on #658
Okay. I'm happy to merge it in, if you add the cid on attachment in the same PR, or via a separate PR.

[2022-01-12 21:33] princemaple commented on #662
Hi, `Swoosh.TestAssertion` works for unit tests and basic integration tests. Unfortunately it's not going to work for feature/E2E tests. The mechanism of `assert_email_sent` is based on messaging sending between processes, and is expecting the calling process (the one that calls `assert_email_sent`) to be the calling process of `Mailer.deliver`, or be the parent process of the whatever does the `M

[2022-01-13 18:07] rafa-dyad commented on #662
Thank you @princemaple, I was able to set a working test, much appreciated.

I'd like to suggest including this advice in the docs for Swoosh.TestAssertion

[2022-01-13 19:43] princemaple commented on #662
Good suggestion. Thanks 👍

[2022-01-14 20:06] taobojlen commented on #658
Thanks! I've opened #663 for now; after that's approved and merged I'll add this custom CID feature.

[2022-01-14 21:34] #656 closed

[2022-01-14 21:48] #662 closed

[2022-01-15 21:58] #658 closed

[2022-01-15 22:18] princemaple commented on #658
Thanks for your great PRs. I've released 1.6.0

[2022-02-03 20:08] blackham opened #669 "Attachments show as "noname""
### Describe the bug

When I use Swoosh to send an inline image as an .html email to gmail the filename ends up noname.  I am able to view the inline image correctly in the email, but when the users try to download the image it shows up as "noname".  Now, you could say this isn't a bug, which is what MS Outlook does, but we are better than that, no?

I could only find similar issues with MS Outloo

[2022-02-03 21:50] princemaple commented on #669
Hi, could you post your generated html?

[2022-02-03 23:34] princemaple commented on #669
Closing with v1.6.2

[2022-02-03 23:34] #669 closed

[2022-02-03 23:34] blackham commented on #669
That is a LOT of HTML.  But below is where the image is added. This image shows up perfect in the email. It's when they click on the download arrow in gmail that it displays "noname". I tried also setting name="xyz.png" and alt="test.png" in the html <img src>. (Just guessing, but same "noname" results)

[code]

![image](https://user-images.githubusercontent.com/9464565/152446769-76297d4f-e15b-4f8

[2022-02-03 23:38] blackham commented on #669
Awesome! Works great now!
![image](https://user-images.githubusercontent.com/9464565/152447368-8ec9714c-6bf1-4403-87fd-c29df0973062.png)

Swoosh is #1 okay!

[2022-02-03 23:39] princemaple commented on #669
Thanks for the confirmation!

[2022-02-07 23:35] kurtome opened #670 "Update OhMySmtp to MailPace (rename)"
**Is your feature request related to a problem? Please describe.**
OhMySTMP has been renamed to MailPace. The existing API URLs and headers could continue to work, however to reduce confusion a new adapter with the new name would be ideal. https://docs.mailpace.com/guide/moving_from_ohmysmtp

**Is your feature request related to a specific adapter? Please specify.**
`Swoosh.Adapters.OhMySmtp`

**D

[2022-02-08 03:27] princemaple commented on #670
That's a bit unfortunate. Well. We will deal with it. Thanks for letting us know.

[2022-02-08 11:12] princemaple commented on #670
Hi @kurtome could you give #672 a whirl?

[2022-02-10 02:38] princemaple commented on #670
/cc @taobojlen If you could give the PR a go.

[2022-02-10 20:43] taobojlen commented on #670
Thanks @princemaple -- yes, that's unfortunate timing! I'll be able to give the branch a go this weekend, if you can wait till then.

[2022-02-13 18:10] taobojlen commented on #670
@princemaple it works in my app. Migration was easy, just needed a global find-and-replace `s/OhMySmtp/MailPace`.

[2022-02-13 20:49] princemaple commented on #670
Thank you @taobojlen :)

[2022-02-14 10:09] #670 closed

[2022-02-14 10:09] princemaple commented on #670
v1.6.3

[2022-03-04 06:57] phanmn opened #677 "Mailinator: Attachment removed"
### Describe the bug

Hi,

I'm using AmazonSES adapter to send an only text file email.

I can read email with Gmail, but in Mailinator, it shows `Attachment removed`.

Please give me a suggestion.

Many thanks!

### Steps to Reproduce the Bug or Issue

Send only text mail to Mailinator

![image](https://user-images.githubusercontent.com/3765536/156714687-c807d294-a560-4b67-bc13-570f9a9d386b.png)

[2022-03-04 07:39] princemaple commented on #677
Hi @phanmn, if it worked when sending to gmail, I'd say that Swoosh is doing its job correctly.

Looking at the documentation of Mailinator, I saw this line:

That's most likely why you see this - they don't take attachments.

Swoosh doesn't alter your email in anyway.

[2022-03-04 07:49] phanmn commented on #677
Hi @princemaple,

Thanks for your reply, I just send text only, no attachment.

I think Mailinator is checking `content-disposition` header, which Swoosh is setting `inline` for text/plain.

I tried to remove the code which sets `inline` at `https://github1s.com/swoosh/swoosh/blob/HEAD/lib/swoosh/adapters/smtp/helpers.ex#L143-L144` but no email can be sent after that.

Do you have any idea !?

[2022-03-04 09:25] princemaple commented on #677
Could you post your code that sends the email? Thanks!

[2022-03-04 09:28] phanmn commented on #677
Here is screenshot of my code

![image](https://user-images.githubusercontent.com/3765536/156736770-142d310f-268f-4dc0-bde6-f893c9228e32.png)

[2022-03-04 09:31] phanmn commented on #677
Here is the detail of Swoosh email read by Gmail

![image](https://user-images.githubusercontent.com/3765536/156737456-b2eceeb9-9420-4c4c-9753-c22c5ec0bd67.png)

[2022-03-04 09:40] princemaple commented on #677
Thanks. One thing I found weird was that in the mailinator screenshot, it shows 2 `text/plain` instead of 1 `text/plain` and 1 `text/html`.

[2022-03-04 09:56] princemaple commented on #677
Hi,

I tested removing the "inline" part from Swoosh code base. Looks like `:gen_smtp` adds it anyway.

Swoosh:

[code]

After `:gen_smtp` transformation:

[code]

I'm not familiar enough with the spec to know whether it's supposed to be there or not. It's either a parse error in mailinator or a bug in `:gen_smtp`

[2022-03-04 09:58] phanmn commented on #677
Thank @princemaple

[2022-03-04 10:52] #677 closed

[2022-04-21 22:50] ascandella opened #683 "Support for ExAws credentials in SES adapter?"
This is not so much a specific feature request, but wanted to leave my thoughts here after spending afternoon getting Swoosh set up with SES for my AWS application.

The current method for configuring SES credentials (e.g. #361) is to pass them in as elixir application configuration (`:access_key` / `:secret`) on the adapter, which would generally happen in `runtime.exs` in a Phoenix application.

[2022-04-21 23:25] princemaple commented on #683
Hi @ascandella , I'm actually fairly happy to accept this adapter. We have many [optional dependencies](https://github.com/swoosh/swoosh/blob/main/mix.exs#L68-L73) anyway.

We can require it on the adapter like: `required_deps: [gen_stmp: :mimemail, ex_aws: ExAws.Config]`

[2022-04-21 23:30] ascandella commented on #683
@princemaple cool, do you think it makes sense to include in the existing `AmazonSES` adapter (and do something like `if Code.ensure_loaded?(ExAws) do ...` or have two separate adapters?

[2022-04-22 00:51] princemaple commented on #683
I'm happy with it being standalone. That way we avoid clunky logics.

[2022-04-26 07:07] princemaple commented on #683
Hi @ascandella, are you still planning to add this? I think with some links to the AWS docs added in the module docs, we are pretty much good to go.

[2022-04-27 04:03] princemaple commented on #683
Published in v1.6.5 🥳 Thanks heaps @ascandella

[2022-04-27 04:03] #683 closed

[2022-04-27 04:36] ascandella commented on #683
Sweet, thanks for the helpful replies and reviewing the PR so quickly! Just updated my app to 1.6.5 :)

[2022-04-28 06:25] altdsoy opened #685 "Warning when compiling swoosh (ExAws.Config.new/1 is undefined)"
### Describe the bug

Since 1.6.5 there's the following warning when compiling:
[code]

### Steps to Reproduce the Bug or Issue

Add Swoosh in the project dependency and compile the project.

### Expected behavior

Even if we do not use the ExAws adapter we should not get this warning.

### Your reproducible example

_No response_

### Screenshots or Videos

_No response_

### Platform

- OTP: 24.

[2022-04-28 06:27] princemaple commented on #685
Thanks for reporting. I forgot to suppress this warning.

[2022-04-28 06:31] #685 closed

[2022-04-28 06:37] princemaple commented on #685
Releasing 1.6.6 right now

[2022-04-28 15:04] altdsoy commented on #685
That was fast :)
Thanks!

[2022-04-28 21:29] princemaple commented on #685
🙂🙏

[2022-05-22 19:39] tidusIO opened #693 "weird html_body formatting when using assert_email_sent"
### Describe the bug

I've started to use MJML to generate the HTML for my mails. Following strange behaviour.

Now my assert_email_sent(email) commands are failing. The reason is, that the HTML of the "received" mail seems to get reformatted. The order of attributes in tables changed.

Following example of the two versions:

`<table cellpadding=\"0\" width=\"650\" border=\"0\" cellspacing=\"0\" r

[2022-05-22 21:31] princemaple commented on #693
Hi, we don't do anything with the html or text body. They are sent verbatim. If you can setup a simple reproduction, I can help take a look, but it's most likely not swoosh doing something weird here.

[2022-05-23 05:34] princemaple commented on #693
I just played with `mjml` for a minute. It outputs html attributes in different orders between renders.

My guess is that the rust underlying data structure it used for attributes is a map. Maps are not ordered, so it's not reliable to test the whole generated HTML.

You will have to figure out a way to test it properly.

https://user-images.githubusercontent.com/1329716/169750149-dffd6cd9-6102-4a

[2022-05-23 05:34] #693 closed

[2022-05-23 05:48] tidusIO commented on #693
Okay, nice for the quick reply. I will check then how I can solve it.

just another quick question. Is it intention that assert_email_sent(subject: "") just checks the last mail and not the mails in the pid messages field?

[2022-05-23 05:54] princemaple commented on #693
You can call it multiple times. Its implementation is a simple receive. So each time you call it, it tries to receive an email.

[2022-05-23 05:55] princemaple commented on #693
You can also pass it a `fun/1`. It will get the email as the argument.

[2022-05-23 06:49] tidusIO commented on #693
If other people will find this issue or run into this problem:
https://github.com/adoptoposs/mjml_nif/pull/63

It's really a problem in the MJML rust implementation. If using the orderedmap feature it will fix the problem :)

[2022-06-02 22:25] zigomi opened #697 "How to add custom header to an email?"
### Describe the bug

Adapter.SMTP

How to add custom headers to an email?

### Steps to Reproduce the Bug or Issue

-

### Expected behavior

_No response_

### Your reproducible example

_No response_

### Screenshots or Videos

_No response_

### Platform

_No response_

### Additional context

_No response_

[2022-06-02 22:46] #697 closed

[2022-07-14 02:57] MatheusBuss opened #701 "Add headers support in assert_email_sent"
**Is your feature request related to a problem? Please describe.**
I'm implementing a functionality that requires using email headers, but the function `assert_equal` has no clause for headers, which makes testing the sent email more difficult.

**Describe the solution you'd like**
Add a clause that covers email headers on `assert_equal`

Not sure if there's something I'm missing that already cove

[2022-07-14 03:26] princemaple commented on #701
Adding a clause is good, happy to accept that. Otherwise you could just pass in a function https://github.com/swoosh/swoosh/blob/main/lib/swoosh/test_assertions.ex#L96-L99

[2022-07-14 05:49] #701 closed

[2022-07-19 20:14] kevinwong150 opened #703 "KeyError in gen_smtp when trying to deliver email with attachment through SMTP"
### Describe the bug

Situation:
Working on a function with phoenix and swoosh to send email with attachment of iCalendar file (.ics). The folllowing error shows up when I trying to `deliver()` the email with header updated by `header(email, "Content-Type", "multipart/alternative")`. See below section for detail steps to reproduce.

deps version:
[code]

short error message:
[code]

### Steps to R

[2022-07-19 22:45] princemaple commented on #703
Hi, could you give #704 a go?

[2022-07-20 02:38] kevinwong150 commented on #703
no luck, same error message

[2022-07-20 03:04] princemaple commented on #703
Hi @kevinwong150 , you can fix your code by removing `|> header("Content-Type", "multipart/alternative")`. The header is automatically added depending on the content of the email.

`multipart/alternative` is incorrect for emails with attachments.

[2022-07-20 03:05] princemaple commented on #703
Tested in livebook

# Untitled notebook

[code]

## Section

[code]

[code]

[code]

[2022-07-21 05:00] kevinwong150 commented on #703
more background to my scenario:
in my application, the attachment will be an .ics file and the email will be sent to an outlook mailbox. But somehow the .ics file attachment will turn into "not supported calendar message.ics" in the email and not able to display as meeting invite in outlook.
Wrong behaviour:
![image](https://user-images.githubusercontent.com/13821768/180126227-7ce72351-f65a-4522-8

[2022-07-21 07:16] princemaple commented on #703
Hi @kevinwong150 I updated this issue to be a feature, for future investigation. Sending ics as an alternative part to text and/or html is currently not supported. The closest you can get right now is sending an the ics as the sole attachment.

[2022-08-25 15:03] ally9335 opened #713 "send email in background, but in a simple way"
Is there a simple way to send email in backround, with a single command? For instance, `Bamboo` has `deliver_later` method

[2022-08-25 21:06] princemaple commented on #713
https://github.com/swoosh/swoosh#async-emails

[2022-08-25 21:13] ally9335 commented on #713
@princemaple that's not it. I'm not asking how to send email in background in general via Swoosh. But in a simple way.

[2022-08-25 21:36] princemaple commented on #713
It's an explicit decision to not do it in Swoosh as elixir and OTP already give you so much around background / Async jobs. It's irresponsible to provide a toy implementation that is not reliable at all in practice. If that suits you, you can simply write a function that wraps deliver in a `Task.start` and always call that function. Anything more serious needs to be handled by a lib that specifica

[2022-08-25 22:21] #713 closed

[2022-09-08 14:57] KiKoS0 opened #716 "Crashes caused by the Memory GenServer"
### Describe the bug

Hey 👋 We've been experiencing frequent sudden crashes, similar to https://github.com/swoosh/swoosh/issues/401 and https://elixirforum.com/t/system-crashing-because-of-swoosh-client/49723 in a multiple instances application connected to a same Erlang cluster:
[code]
While adding the [`config :swoosh, local: false`](https://hexdocs.pm/swoosh/Swoosh.html#module-production) fixed

[2022-09-09 10:04] #716 closed

[2022-10-01 18:47] nichita-pasecinic opened #720 "Terminate/cancel the currently sending email"
**Is your feature request related to a problem? Please describe.**

I need to cancel the delivering process of the email when a timeout is reached. I would like handle by myself when the request should be cancelled

**Is your feature request related to a specific adapter? Please specify.**

Gmail, but could apply to others as well

**Describe the solution you'd like**

It could be implemented in v

[2022-10-01 19:58] princemaple commented on #720
`email |> put_private(:client_options, options)` will be passed to your http client.

[2022-10-01 20:21] nichita-pasecinic commented on #720
Hi @princemaple and big thanks for a quick reply, yeah the `put_private\3` solved it, but I could not find in the [docs](https://hexdocs.pm/swoosh/Swoosh.Email.html#put_private/3) all available keys that are available for configuration.
I assume there are more than just `:client_options` I would possibly use 😄

Thanks 🙏

[2022-10-01 20:25] princemaple commented on #720
There are actually not that many. This one is documented on the Email module. And provider specific options are documented on respective provider module.

[2022-10-01 20:26] princemaple commented on #720
That's all I can think of.

[2022-10-01 20:42] nichita-pasecinic commented on #720
Ohh, I see. But back to my question, passing a timeout to client API (`Finch` in my case) would not support cancellable requests, I see in the implementation is used `Finch.request` that internally does not support cancellable requests and only the `Finch.stream` might work in this case https://github.com/sneako/finch/issues/112

[2022-10-01 21:36] princemaple commented on #720
Hmm. I don't know. I may accept PR about this, but I don't think I'll go and implement it, as it's going to be hard to keep hackney and SMTP up to speed.

[2022-10-14 00:20] arkadiyk commented on #703
I've done some investigation and found the working message format which goes into `:mimemail.encode({type, subtype, headers, %{}, parts},[])`

Here is the example:
[code]

The important attributes are:
-   Content subtype should be `alternative`
-  `Content-Transfer-Encoding` should be `"7bit"`, not `"base64"`
-  `content_type_params` should contain `method=REQUEST`

[2022-10-14 07:13] princemaple commented on #703
Woah. Thanks for the investigation!

[2022-10-22 14:33] geeksilva97 commented on #560
Can I work on that? :eyes:

[2022-10-22 15:12] princemaple commented on #560
Yeah. https://github.com/swoosh/swoosh/pull/721 take this into consideration, though.

[2022-10-24 18:59] geeksilva97 commented on #560
Okay.

[2022-11-26 19:54] princemaple commented on #401
Nope. There's no point doing it. It's for dev only.